<template>
  <div class="wh100">
    <div class="box w100 topbox">
      <p class="box_title box-bg-large flex flex-jb">设备一览表</p>
      <div class="box_main paddt20 paddl20 paddr20">
        <div class="tableWrap">
          <el-table ref="tableRef" size="small" @row-click="rowClick" class="w100" height="100%" highlight-current-row :data="state.tableData" stripe>
            <el-table-column align="center" type="index" label="序号" />
            <el-table-column align="center" prop="stationName" label="所属站点" />
            <el-table-column align="center" prop="name" label="设备名称" />
            <el-table-column align="center" prop="status" label="逆变器状态">
              <template v-slot="scoped">
                <span v-show="scoped.row.status == null || scoped.row.status == 0" class="F14 errorColor FB">离线</span>
                <span v-show="scoped.row.status == 1" class="F14 FB" style="color: #30e0a1">运行</span>
                <span v-show="scoped.row.status == 2" class="F14 FB" style="color: rgba(255, 149, 59, 1)">待机</span>
              </template>
            </el-table-column>
            <el-table-column align="center" prop="model" label="型号" />
            <el-table-column align="center" prop="manufacturerName" label="品牌" />
            <el-table-column align="center" prop="commissionTime" label="投运日期" />
            <el-table-column align="center" prop="dataCollectionTime" label="数据最新刷新时间" />
          </el-table>
        </div>
        <G-pagination :pageSize="state.pageSize" @sizeChange="sizeChange" @currentChange="currentChange" class="pagination" :total="state.total"></G-pagination>
      </div>
    </div>
    <Infobot :defaultIndexCode="true" :equipmentId="state.equipmentId" rtitle="历史告警信息"></Infobot>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'

import { getEquipments } from '@/http/api'
import Infobot from './infobot.vue'
const router = useRouter()
const route = useRoute()
const tableRef = ref(null)
const state = reactive({
  tableData: [],
  stationId: '',
  total: 0,
  pageSize: 10,
  pageNum: 1,
  equipmentId: ''
})
onMounted(() => {
  getEquipmentsHandler()
})

function rowClick(row, column, event) {
  state.equipmentId = row.id
}

function sizeChange(val) {
  state.pageSize = val
  getEquipmentsHandler()
}
function currentChange(val) {
  state.pageNum = val
  state.currRow = {}
  getEquipmentsHandler()
}

function getEquipmentsHandler() {
  // stationId: state.stationId
  getEquipments({ pageNum: state.pageNum, pageSize: 10, equipmentTypeId: 1 }).then(res => {
    state.tableData = res.data.list
    tableRef.value.setCurrentRow(state.tableData[0])
    state.equipmentId = state.tableData[0].id
    state.total = res.data.total
  })
}
</script>
<style lang="less" scoped>
.topbox {
  height: 50%;
  margin-top: 20px;
}
.tableWrap {
  width: 100%;
  height: calc(100% - 55px);
}
.pagination {
  margin: 10px;
}
</style>
