<template>
  <div class="wh100">
    <p class="pageTitle">设备分析-逆变器</p>
    <div class="IA_main Share_Main w100 flex">
      <G-tree nodekey="allId" ref="gRef" @node-click="nodeClick" :data="state.treeData" @expendHandler="state.isExpend = $event"></G-tree>
      <div :class="{ IA_main_main: true, treeTSN: true, treeWidth: state.isExpend, w100: !state.isExpend }">
        <div class="IA_mm_item IA_mm_i_top flex flex-jb">
          <div class="wh100">
            <EqAnalys :processData="state.leftProcessData" :titles="state.leftitle" position="top" :data="state.leftlist"></EqAnalys>
          </div>
          <div class="wh100">
            <EqAnalys :processData="state.rightProcessData" :titles="state.rightitle" position="top" :data="state.rightlist" direction="hor"></EqAnalys>
          </div>
          <div class="box">
            <p class="box_title box-bg-small-biger">各品牌逆变器报警率</p>
            <div class="box_main thirdbox">
              <G-datePicker @change="changeHandler"></G-datePicker>
              <div class="thirdbox_chart w100">
                <PieChart :data="state.pieChartData"></PieChart>
              </div>
            </div>
          </div>
        </div>

        <div class="IA_mm_item IA_mm_i_bot flex flex-jb">
          <div class="box">
            <div class="box_title box-jcxx-t-bg flex flex-jb paddr20">
              <span>各品牌逆变器效率排序</span>
              <div>
                <span class="mr15" style="color: rgba(50, 247, 255, 0.6)">当前日期</span>
                <el-date-picker size="mini" popper-class="datePicker_propper" v-model="state.doubleHistogramTime" type="date" placeholder="请选择日期" clearable></el-date-picker>
              </div>
            </div>
            <div class="box_main">
              <DoubleHistogram :data="state.doubleHistogramData"></DoubleHistogram>
            </div>
          </div>
          <div class="box">
            <div class="box_title box-jcxx-t-bg flex flex-jb paddr20">
              <span>各品牌逆变器健康率排名</span>
              <div>
                <span class="mr15" style="color: rgba(50, 247, 255, 0.6)">当前日期</span>
                <el-date-picker @change="barTimeChange" size="mini" popper-class="datePicker_propper" v-model="state.barTime" type="date" placeholder="请选择日期" clearable></el-date-picker>
              </div>
            </div>
            <div class="box_main">
              <!-- <DoubleHistogram :data="state.leftchart"></DoubleHistogram> -->
              <Bar :data="state.barData" :barColor="state.barColor"></Bar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'
import EqAnalys from './components/eqAnalys.vue'
import PieChart from '@/components/echarts/pieChart.vue'
import DoubleHistogram from '@/components/echarts/doubleHistogram.vue'
import Bar from '@/components/echarts/bar.vue'

import {
  getEqmTree,
  getEquiDistributionChart,
  getEquiInstalledCapacityChart,
  getEquiAlarmChart,
  getEquiEfficiencyChart,
  getEquiHealthRankingChart,
  getEquiModelInstalledCapacityRatio,
  getEquiModelRatio
} from '@/http/api'
import { ElMessage } from 'element-plus'
import { dateFormat, cgDateTime, Base64 } from '@/utils/utils'

const router = useRouter()
const route = useRoute()
const state = reactive({
  isExpend: true,
  leftlist: [
    { name: '100KW型号（共55台）', c: '奥太1台,占1.82%；柯诺35台,占64.32%；追日17台,占12%；阳光2台.占3.45%' },
    { name: '100KW型号（共55台）', c: '奥太1台,占1.82%；柯诺35台,占64.32%；追日17台,占12%；阳光2台.占3.45%' },
    { name: '100KW型号（共55台）', c: '奥太1台,占1.82%；柯诺35台,占64.32%；追日17台,占12%；阳光2台.占3.45%' },
    { name: '100KW型号（共55台）', c: '奥太1台,占1.82%；柯诺35台,占64.32%；追日17台,占12%；阳光2台.占3.45%' },
    { name: '100KW型号（共55台）', c: '奥太1台,占1.82%；柯诺35台,占64.32%；追日17台,占12%；阳光2台.占3.45%' },
    { name: '100KW型号（共55台）', c: '奥太1台,占1.82%；柯诺35台,占64.32%；追日17台,占12%；阳光2台.占3.45%' },
    { name: '100KW型号（共55台）', c: '奥太1台,占1.82%；柯诺35台,占64.32%；追日17台,占12%；阳光2台.占3.45%' }
  ],
  leftitle: ['各品牌逆变器分布', '所有电站共有逆变器', '个', '各类型分占比'],
  rightitle: ['各品牌逆变器装机容量分布', '所有电站电表总装机容量', 'MW', '各型号占容量比'],
  rightlist: [
    { name: '100KW型号（共55台）', c: '1x10=0.01MW,占0.03%' },
    { name: '100KW型号（共55台）', c: '1x10=0.01MW,占0.03%' },
    { name: '100KW型号（共55台）', c: '1x10=0.01MW,占0.03%' },
    { name: '100KW型号（共55台）', c: '1x10=0.01MW,占0.03%' },
    { name: '100KW型号（共55台）', c: '1x10=0.01MW,占0.03%' },
    { name: '100KW型号（共55台）', c: '1x10=0.01MW,占0.03%' },
    { name: '100KW型号（共55台）', c: '1x10=0.01MW,占0.03%' }
  ],
  starTime: '',
  //   leftchart: {
  //     title: '',
  //     xdata: ['2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01'],
  //     y_left: {
  //       name: '逆变器实时效率',
  //       data: [20, 60, 110, 40, 80, 10, 50]
  //     },
  //     y_right: {
  //       name: '逆变器当天最大效率',
  //       data: [20, 60, 110, 80, 10, 50, 20]
  //     }
  //   },
  barColor: [
    {
      offset: 0,
      color: '#FF7676' // 0% 处的颜色
    },
    {
      offset: 0.3,
      color: '#FFC476' // 60% 处的颜色
    },
    {
      offset: 0.6,
      color: '#1DE6FF' // 100% 处的颜色
    },
    {
      offset: 1,
      color: '#55FDCA' // 100% 处的颜色
    }
  ],
  treeData: [],
  companyId: '',
  stationId: '',
  time: {
    starTime: '',
    endTime: ''
  },
  pieChartData: [],
  leftProcessData: [],
  rightProcessData: [],
  equipmentTypeId: 1,
  barData: {},
  barTime: new Date(),
  doubleHistogramTime: '',
  doubleHistogramData: {}
})
getEqmTreeHandler()
getEquiAlarmChartHandler()
getEquiDistributionChartH()
getEquiInstalledCapacityChartH()

getEquiEfficiencyChartH()
getEquiHealthRankingChartH()
//   getEquiModelInstalledCapacityRatioH()
//   getEquiModelRatioH()
onMounted(() => {})

// 获取各品牌设备实时效率
function getEquiEfficiencyChartH() {
  let currentTime = state.doubleHistogramTime != '' ? dateFormat(state.doubleHistogramTime) : ''
  let params = {
    equipmentTypeId: state.equipmentTypeId,
    currentTime
  }
  getEquiEfficiencyChart(params).then(res => {
    let xdata = []
    let y_left = {
      name: '逆变器实时效率',
      data: []
    }
    let y_right = {
      name: '逆变器当天最大效率',
      data: []
    }

    res.data.forEach(item => {
      xdata.push(item.name)
      y_left.data.push(item.realTimeValue)
      y_right.data.push(item.maxValue)
    })

    state.doubleHistogramData = { xdata, y_left, y_right }
  })
}
// 获取各品牌设备健康率排名
function getEquiHealthRankingChartH() {
  let currentTime = state.barTime != '' ? dateFormat(state.barTime) : ''
  let params = {
    equipmentTypeId: state.equipmentTypeId,
    currentTime
  }
  getEquiHealthRankingChart(params).then(res => {
    let xdata = []
    let ydata = []

    res.data.forEach(item => {
      xdata.push(item.name)
      ydata.push(item.value)
    })

    state.barData = { xdata, ydata, title: '逆变器健康率%' }
  })
}
// 获取各品牌设备装机容量比率
function getEquiModelInstalledCapacityRatioH() {
  let params = {
    equipmentTypeId: state.equipmentTypeId
  }
  getEquiModelInstalledCapacityRatio(params).then(res => {
    res.data
  })
}

// 获取各品牌设备型号比率
function getEquiModelRatioH() {
  let params = {
    equipmentTypeId: state.equipmentTypeId
  }
  getEquiModelRatio(params).then(res => {
    res.data
  })
}
function barTimeChange() {
  getEquiHealthRankingChartH()
}

function getEquiInstalledCapacityChartH() {
  let params = {
    equipmentTypeId: state.equipmentTypeId
    // startTime: state.time.starTime,
    // endTime: state.time.endTime
  }
  for (const key in params) {
    if (params[key] == '') {
      delete params[key]
    }
  }
  getEquiInstalledCapacityChart(params).then(res => {
    state.rightProcessData = res.data
  })
}

function getEquiDistributionChartH() {
  let params = {
    equipmentTypeId: state.equipmentTypeId
    // startTime: state.time.starTime,
    // endTime: state.time.endTime
  }
  for (const key in params) {
    if (params[key] == '') {
      delete params[key]
    }
  }
  console.log(params, 'getEquiDistributionChartH')
  getEquiDistributionChart(params).then(res => {
    state.leftProcessData = res.data
  })
}

function getEquiAlarmChartHandler() {
  let params = {
    equipmentTypeId: state.equipmentTypeId,
    startTime: state.time.starTime,
    endTime: state.time.endTime
  }
  for (const key in params) {
    if (params[key] == '') {
      delete params[key]
    }
  }
  //   console.log(params, 'getEquiAlarmChartHandler')
  getEquiAlarmChart(params).then(res => {
    state.pieChartData = res.data
  })
}
function changeHandler(value) {
  state.time = value
  getEquiAlarmChartHandler()
}

function getEqmTreeHandler() {
  getEqmTree({ level: 100 }).then(res => {
    forTreeData(res.data, 0)
    state.treeData = res.data
  })
}
function forTreeData(arr, id, allId) {
  arr.forEach((item, index) => {
    item.realPid = id
    item.allId = item.level == 1 ? '1' : item.level + '_' + item.realId + (allId ? '|' + allId : '')
    // state.allIdsArr.push({ allId: item.allId, name: item.name, level: item.level })
    // if (item.level == 100) {
    //   let ch = JSON.parse(JSON.stringify(item.children))
    //   item.children = []
    //   item.children = ch.filter(t => {
    //     return t.realId == state.inverId
    //   })
    //   state.stationArr.push(item)
    // }
    if (item && item.children) {
      forTreeData(item.children, item.realId, item.allId)
    }
  })
}

function nodeClick(value) {
  state.companyId = ''
  state.stationId = ''
  let stationId = ''
  let companyId = ''
  //   let equipmentId = ''
  let arr = value.allId.split('|')
  //   arr.forEach(item => {
  //     let strArr = item.split('_')
  //     let [key, realId] = [...strArr]
  //     switch (key) {
  //       case '10000':
  //         equipmentId = realId
  //         break
  //       // case '1000':
  //       //   state.equipmentTypeId = realId
  //       //   break
  //       case '100':
  //         stationId = realId
  //         break
  //       case '10':
  //         companyId = realId
  //         break
  //       default:
  //         break
  //     }
  //   })
  //   if (value.allId.split('|').length < 4) {
  //     state.companyId = companyId
  //     state.stationId = stationId
  //     state.topTitleName = value.name
  //     if (value.level == 10) {
  //       state.titleData = [
  //         { name: '数量', value: '-', unit: '个', key: 'total' },
  //         { name: '故障', value: '-', unit: '个', key: 'faultNum' },
  //         { name: '装机', value: '-', unit: 'MW', key: 'installedCapacity' },
  //         { name: '日发电量', value: '-', unit: 'kWh', key: 'dailyPowerGeneration' }
  //       ]
  //     } else {
  //       getEquipmentsHandler()
  //     }
  //   } else {
  //     // console.log(equipmentId, value.allId, value.name)
  //     routerPush({ stationId, name: value.name, id: equipmentId })
  //   }
}
</script>
<style lang="less" scoped>
.IA_mm_item {
  height: 50%;
}
.IA_mm_i_top {
  > div {
    width: calc(33.3% - 12px);
    // margin-right: 20px;
  }
  > div:last-child {
    margin-right: 0;
  }
  .thirdbox {
    padding: 10px;
    .thirdbox_chart {
      padding-top: 10px;
      height: calc(100% - 40px);
    }
  }
}
.IA_mm_i_bot {
  > div {
    width: calc(50% - 10px);
    // margin-left: 20px;
    padding-top: 20px;
  }
}
</style>
