<template>
  <div class="centerTopInfo flex flex-ja flex-ac textcenter">
    <div class="centerTopInfo_item pointer" v-for="(item, index) in state.centerList" @click="pushHandler(item.path)">
      <p>
        <span>{{ item.value }}</span
        ><i>{{ item.unit }}</i>
      </p>
      <p>{{ item.name }}</p>
    </div>
  </div>
</template>
<script setup lang="ts">
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'

const router = useRouter()

const props = defineProps({
  data: {
    type: Array,
    default: () => {
      return []
    }
  }
})

const state = reactive({
  centerList: []
})
watch(
  () => props.data,
  val => {
    state.centerList = val
  }
)

onMounted(() => {})

function pushHandler(path) {
  router.push({ path })
}
</script>
<style lang="less" scoped>
.centerTopInfo {
  padding: 10px 0;
  background: url('../../../assets/images/topbg.png') no-repeat;
  background-size: 100% 100%;
  height: 90px;
  .centerTopInfo_item {
    p {
      color: #fff;
      font-size: 16px;
      span {
        color: #1de6ff;
        font-size: 24px;
      }
      i {
        color: #1de6ff;
        font-size: 12px;
      }
    }
  }
}
</style>
