<template>
  <div class="site_left">
    <div class="site_left_top w100 flex">
      <div class="box site_left_top_box">
        <p class="box_title box-bg-big">电站基本信息</p>
        <div class="box_main top_box">
          <div class="flex w100 top_box_top">
            <!-- <img src="../../assets/images/gfdz.jpeg" alt="" /> -->
            <el-image class="elimg" :src="state.imgURL + state.currStation.imgPath">
              <template #error>
                <div class="image-slot">
                  <el-icon><picture-filled /></el-icon>
                  <span>暂无图片</span>
                </div>
              </template>
            </el-image>
            <div class="top_box_top_right flex flex-column flex-jb">
              <p class="p_title">{{ state.currStation.name }}</p>
              <p>
                <span class="p_span textoverflow">
                  <span class="qname">装机容量：</span>
                  <span class="hvalue">{{ state.currStation.installedCapacity }} KVA</span>
                </span>
                <span class="p_span textoverflow">
                  <span class="qname">站点状态：</span>
                  <span class="hvalue">{{ state.currStation.status == 0 ? '正常' : '异常' }}</span>
                </span>
              </p>
              <p>
                <span class="p_span textoverflow">
                  <span class="qname">投运时间：</span>
                  <span class="hvalue">{{ state.currStation.commissionTime }}</span>
                </span>
                <span class="p_span textoverflow">
                  <span class="qname">类型：</span>
                  <span class="hvalue">{{ state.currStation.type }}</span>
                </span>
              </p>
              <p class="textoverflow">
                <span class="qname">地址：</span>
                <span class="hvalue">{{ state.currStation.address }}</span>
              </p>
              <p>
                <span class="p_span textoverflow">
                  <span class="qname">经度：</span>
                  <span class="hvalue">{{ state.currStation.latitude }}</span>
                </span>
                <span class="p_span textoverflow">
                  <span class="qname">纬度：</span>
                  <span class="hvalue">{{ state.currStation.longitude }}</span>
                </span>
              </p>
            </div>
          </div>
          <div class="top_box_bot flex flex-jb">
            <p class="qname">
              光伏组件朝向：<span class="hvalue">{{ state.currStation.pvModuleOrientation }}</span>
            </p>
            <p class="qname">
              光伏组件与地面倾斜角：<span class="hvalue">{{ state.currStation.pvModuleInclination }}°</span>
            </p>
            <p class="qname">
              光伏板厂家：
              <span class="hvalue">{{ state.currStation.pvPanelManufacturer }}</span>
              <!-- <span class="hvalue">{{ getManufact(state.currStation.pvPanelManufacturer) }}</span> -->
            </p>
          </div>
        </div>
      </div>

      <div class="box site_left_top_box">
        <p class="box_title box-bg-big">概况一览</p>
        <div class="box_main padd10">
          <el-table class="wh100 gkyl" height="100%" :data="state.tableData" border>
            <el-table-column prop="name" label="分项">
              <template v-slot="scope">
                <span class="F14 cfff">{{ scope.row.name }}</span>
                <span>{{ scope.row.unit }}</span>
              </template>
            </el-table-column>
            <el-table-column align="center" prop="day" label="日" />
            <el-table-column align="center" prop="month" label="月" />
            <el-table-column align="center" prop="year" label="年" />
          </el-table>
        </div>
      </div>
    </div>
    <div class="w100 box site_left_bot">
      <p class="box_title box-bg-big-big">实时运行图展</p>
      <div class="box_main flex">
        <div class="site_left_bot_left">
          <div class="site_left_bot_left_top flex flex-ac flex-jb">
            <p class="cfff F16">指标曲线</p>
            <div>
              <span class="mr10">查询日期</span>
              <el-date-picker size="mini" popper-class="datePicker_propper" v-model="state.searchTime" type="date" placeholder="请选择日期" clearable @change="changeHandler"></el-date-picker>
            </div>
            <div>
              <span class="mr10">信号点选择</span>
              <!-- clearable -->
              <el-select suffix-icon="CaretTop" size="mini" @change="selectChange" v-model="state.indexCode" class="m-2" placeholder="请选择">
                <el-option v-for="item in state.indexCodes" :key="item.id" :label="item.name" :value="item.id"> </el-option>
              </el-select>
            </div>
          </div>
          <div class="site_left_bot_left_bottom">
            <CurveFill :labelName="state.labelName" :data="state.indexCodeChart"></CurveFill>
          </div>
        </div>
        <div class="site_left_bot_right w100">
          <div class="site_left_bot_right_top w100">
            <DoubleHistogram :data="state.doubleData"></DoubleHistogram>
          </div>
          <div class="site_left_bot_right_bot w100">
            <p class="F16 cfff">逆变器发电在线率（实时）</p>
            <div class="site_left_bot_right_bot_main flex flex-ac">
              <div class="site_left_bot_right_bot_left">
                <Dashboard :data="state.equiOnlinePect"></Dashboard>
              </div>
              <div class="site_left_bot_right_bot_right flex flex-column flex-jc">
                <div v-for="(item, index) in state.equiOnlineData" :key="index + 966">
                  <p class="cfff">{{ item.name }}</p>
                  <div class="flex w100" :style="{ color: item.color }">
                    <span class="qweqwe">{{ item.value }}<i>台</i> </span>
                    <el-progress style="flex: 1" :color="item.color" :percentage="(parseInt(item.value) / state.equiOnlineSum) * 100">
                      <span :style="{ color: item.color }">{{ (parseInt(item.value) / state.equiOnlineSum) * 100 }}%</span>
                    </el-progress>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import CurveFill from '@/components/echarts/curveFill.vue'
import DoubleHistogram from '@/components/echarts/doubleHistogram.vue'
import Dashboard from '@/components/echarts/dashboard.vue'
import { computed, reactive, ref, watchEffect, watch, nextTick, onMounted, onUnmounted, defineProps } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import { dateFormat, cgDateTime } from '@/utils/utils'
import { getStatOver, getAllStations, getEqmTree, getEquiOnlineChart, getStations, getPointAlarmHistorys, getManufacturers, getIndexCodesAll, getPointHistoryChart } from '@/http/api'

const router = useRouter()
const route = useRoute()

const props = defineProps({
  stationId: {
    // type: String
    // require: true
  },
  companyId: {
    // type: String
    // require: true
  },
  currStation: {
    type: Object
  },
  tableData: {
    type: Array
  }
})

const state = reactive({
  searchTime: dateFormat(new Date()),
  tableData: [],
  equiOnlineData: [],
  equiOnlinePect: 0,
  equiOnlineSum: 1,
  imgURL: IMG_FILE_BASE_URL,
  doubleData: {},
  indexCodes: [],
  indexCode: '',
  indexCodeChart: {},
  labelName: '',
  queryTime: dateFormat(new Date()),
  currStation: {},
  manufacturers: [],
  stationId: '',
  companyId: ''
})

watch(
  () => props.companyId,
  val => {
    state.companyId = val
  },
  { deep: true, immediate: true }
)
watch(
  () => props.stationId,
  val => {
    state.stationId = val
  },
  { deep: true, immediate: true }
)
watch(
  () => props.currStation,
  val => {
    console.log(val, '9090900')
    state.currStation = val
  },
  { deep: true, immediate: true }
)
watch(
  () => props.tableData,
  val => {
    state.tableData = val
  },
  { deep: true, immediate: true }
)

getManufacturersHandler()
getIndexCodesAllHandler()
getEquiOnlineChartHandler()

let interval = setInterval(() => {
  getEquiOnlineChartHandler()
}, 5000)

onUnmounted(() => {
  clearInterval(interval)
})

onMounted(() => {
  state.doubleData = {
    title: '近7天单MW发电量对比',
    xdata: ['2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01'],
    y_left: {
      name: '单MW发电量',
      data: [20, 60, 110, 40, 80, 10, 50]
    },
    y_right: {
      name: '子阵平均单MW发电量',
      data: [20, 60, 110, 80, 10, 50, 20]
    }
  }
})

// 数据点记录图表
function getPointHistoryChartHandler() {
  let params = {
    stationId: state.stationId,
    queryTime: state.queryTime,
    indexCode: state.indexCode
  }

  for (const key in params) {
    if (!params[key] || params[key] == '') {
      delete params[key]
    }
  }
  getPointHistoryChart(params).then(res => {
    let name = []
    let value = []
    res.data.forEach(item => {
      name.push(item.name.split(' ')[1].slice(0, 5))
      value.push(item.value)
    })
    state.indexCodeChart = { name, value }
  })
}

function getManufact(id) {
  let name = ''
  state.manufacturers.forEach(item => {
    if (item.id == id) {
      name = item.name
    }
  })
  return name
}
function getManufacturersHandler() {
  getManufacturers({ pageNum: 1, pageSize: 99999 }).then(res => {
    state.manufacturers = res.data ? res.data.list : []
  })
}
function getIndexCodesAllHandler() {
  getIndexCodesAll().then(res => {
    state.indexCodes = res.data ? res.data : []
    state.indexCode = state.indexCodes.length > 0 ? state.indexCodes[0].id : ''
    getPointHistoryChartHandler()
  })
}
function changeHandler(value) {
  state.queryTime = dateFormat(value)
  getPointHistoryChartHandler()
}

function selectChange(val) {
  // state.labelName
  state.indexCodes.forEach(item => {
    if (val == item.id) {
      state.labelName = item.name
    }
  })

  getPointHistoryChartHandler()
}

// 逆变器在线率
function getEquiOnlineChartHandler() {
  getEquiOnlineChart().then(res => {
    let sum = res.data.reduce((totalPrice, item) => totalPrice + parseInt(item.value), 0)
    state.equiOnlineSum = sum == 0 ? 1 : sum
    res.data.forEach(item => {
      if (item.name.includes('在')) {
        state.equiOnlinePect = (parseInt(item.value) / state.equiOnlineSum) * 100

        item.color = '#32f7ff'
      } else {
        item.color = '#FF7A76'
      }
    })

    state.equiOnlineData = res.data
  })
}
</script>
<style lang="less" scoped>
.site_left {
  width: 75%;
  padding-right: 20px;
  height: 100%;
  .site_left_title {
    margin-left: 20px;
  }
  .site_left_top {
    .site_left_top_box {
      margin: 20px 0 20px 20px;
      width: calc(50% - 20px);
      height: 320px;
      .top_box {
        padding: 20px;
        .top_box_top {
          img,
          .elimg {
            width: 280px;
            height: 185px;
            border-radius: 8px;
            margin-right: 20px;
            border: 1px solid rgba(50, 247, 255, 0.2);
            // background: rgba(50, 247, 255, 0.05);
          }
          .top_box_top_right {
            width: calc(100% - 300px);
            .p_title {
              font-size: 18px;
              color: #fff;
            }
            p {
              padding: 5px 0;
              border-bottom: 1px dashed rgba(50, 247, 255, 0.2);
              .p_span {
                width: 40%;
                display: inline-block;
              }
              .p_span:first-child {
                width: calc(60% - 10px);
                margin-right: 10px;
              }
            }
          }
        }
        .top_box_bot {
          p {
            padding-top: 15px;
          }
        }
      }
    }
    .qname {
      color: #bec0c7;
      font-size: 14px;
    }
    .hvalue {
      color: #fff;
      font-size: 14px;
    }
  }
  .site_left_bot {
    height: calc(100% - 360px);
    .site_left_bot_left {
      height: 100%;
      width: 50%;
      .site_left_bot_left_top {
        p {
          margin: 20px;
        }
      }
      .site_left_bot_left_bottom {
        height: calc(100% - 70px);
      }
    }
    .site_left_bot_right {
      height: 100%;
      width: 50%;
      .site_left_bot_right_top {
        height: 60%;
        padding: 5px 0 20px 20px;
      }
      .site_left_bot_right_bot {
        height: 40%;
        .site_left_bot_right_bot_main {
          height: calc(100% - 16px);
        }
        .F16 {
          padding-left: 20px;
        }
        .site_left_bot_right_bot_left {
          width: 50%;
          height: 100%;
        }
        .site_left_bot_right_bot_right {
          width: 50%;
          height: 100%;
          .qweqwe {
            width: 50px;
            display: inline-block;
            margin: 15px 10px 15px 0;
            font-size: 20px;
            i {
              font-size: 12px;
            }
          }
          :deep(.el-progress-bar__outer) {
            background-color: rgba(50, 247, 255, 0.04) !important ;
          }
        }
      }
    }
  }
  .gkyl {
    :deep(tbody .cell) {
      color: rgba(50, 247, 255, 1);
      font-size: 14px;
    }
    .cfff {
      margin-right: 10px;
    }
  }
}
</style>
