<template>
  <div class="sl_img flex">
    <div class="sl_img_left wh100">
      <div class="box sl_img_left_box">
        <p class="box_title box-bg-big">电站基本信息</p>
        <div class="box_main top_box oauto">
          <div class="flex w100 top_box_top">
            <div class="top_box_top_right flex flex-column flex-jb">
              <p v-for="(item, index) in state.currStation" :key="index + 23">
                <el-tooltip v-for="(m, n) in item" class="item" effect="dark" :content="m.value" placement="top" :key="n + 77">
                  <span :class="'p_span textoverflow p_span_' + item.length + ' p_span_' + item.length + '_' + n">
                    <span class="qname">{{ m.name }}</span>
                    <span class="hvalue">{{ m.value }}</span>
                  </span>
                </el-tooltip>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="box sl_img_center_box">
        <p class="box_title box-bg-big">概况一览</p>
        <div class="box_main padd10">
          <el-table size="small" class="wh100 gkyl" height="100%" :data="state.tableData" border>
            <el-table-column width="150" show-overflow-tooltip prop="name" label="分项">
              <template v-slot="scope">
                <span class="F14 cfff">{{ scope.row.name }}</span>
                <span>{{ scope.row.unit }}</span>
              </template>
            </el-table-column>
            <el-table-column show-overflow-tooltip align="center" prop="day" label="日" />
            <el-table-column show-overflow-tooltip align="center" prop="month" label="月" />
            <el-table-column show-overflow-tooltip align="center" prop="year" label="年" />
          </el-table>
        </div>
      </div>

      <div class="box sl_img_bot_box">
        <p class="box_title box-bg-big">指标曲线</p>
        <div class="box_main padd10">
          <div class="sl_img_bot_left_top flex flex-ac flex-jb">
            <div>
              <span class="mr10">查询日期</span>
              <el-date-picker size="mini" popper-class="datePicker_propper" v-model="state.searchTime" type="date" placeholder="请选择日期" clearable @change="changeHandler"></el-date-picker>
            </div>
            <div>
              <span class="mr10">信号点选择</span>
              <!-- clearable -->
              <el-select suffix-icon="CaretTop" size="mini" @change="selectChange" v-model="state.indexCode" class="m-2" placeholder="请选择">
                <el-option v-for="item in state.indexCodes" :key="item.id" :label="item.name" :value="item.id"> </el-option>
              </el-select>
            </div>
          </div>
          <div class="sl_img_bot_box_bottom">
            <CurveFill :labelName="state.labelName" :data="state.indexCodeChart"></CurveFill>
          </div>
        </div>
      </div>
    </div>
    <div class="sl_img_right paddl20 flex flex-column flex-jb relative">
      <div class="centerInfo absolute w100">
        <CenterTopInfo :data="state.centerList"></CenterTopInfo>
      </div>
      <div class="MapHotZoneWrap w100">
        <MapHotZone :statusList="state.statusList"></MapHotZone>
      </div>
      <div class="flex sl_img_right_bot">
        <div class="box">
          <p class="box_title box-bg-other">近7天单MW发电量对比</p>
          <div class="box_main">
            <DoubleHistogram :data="state.doubleData"></DoubleHistogram>
          </div>
        </div>
        <div class="box ml20">
          <p class="box_title box-bg-other">逆变器发电在线率(实时)</p>
          <div class="box_main">
            <div class="nbqzxl">
              <Dashboard :data="state.equiOnlinePect"></Dashboard>
            </div>
            <div class="flex nbqzxljdt paddl20 paddr20">
              <div class="w50" v-for="(item, index) in state.equiOnlineData" :key="index + 55">
                <div class="flex w100" :style="{ color: item.color }">
                  <span class="qweqwe">
                    <span class="cfff">{{ item.name }}</span> {{ item.value }}<i>台</i>
                  </span>
                  <el-progress style="flex: 1" :color="item.color" :percentage="(parseInt(item.value) / state.equiOnlineSum) * 100">
                    <span :style="{ color: item.color }">{{ (parseInt(item.value) / state.equiOnlineSum) * 100 }}%</span>
                  </el-progress>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import CurveFill from '@/components/echarts/curveFill.vue'
import DoubleHistogram from './dobulchart.vue'
import Dashboard from '@/components/echarts/dashboard.vue'
import MapHotZone from '../../../components/other/hotzone/imgHotZone.vue'
import CenterTopInfo from './centerTopInfo.vue'

import { computed, reactive, ref, watchEffect, watch, nextTick, onMounted, onUnmounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import { dateFormat, cgDateTime } from '@/utils/utils'
import {
  getStatOver,
  getAllStations,
  getEqmTree,
  getEquiOnlineChart,
  getStations,
  getPointAlarmHistorys,
  getManufacturers,
  getIndexCodesAll,
  getPointHistoryChart,
  getComprehensiveInfo,
  getEquiStatus
} from '@/http/api'

const router = useRouter()
const route = useRoute()

const props = defineProps({
  stationId: {
    // type: String
    // require: true
  },
  companyId: {
    // type: String
    // require: true
  },
  currStation: {
    type: Object
  },
  tableData: {
    type: Array
  }
})

const state = reactive({
  searchTime: dateFormat(new Date()),
  tableData: [],
  equiOnlineData: [],
  equiOnlinePect: null,
  equiOnlineSum: 1,
  imgURL: IMG_FILE_BASE_URL,
  doubleData: {},
  indexCodes: [],
  indexCode: '',
  indexCodeChart: {},
  labelName: '',
  queryTime: dateFormat(new Date()),
  varCurrStation: [
    [
      { name: '状态：', key: 'status' },
      { name: '投运时间：', key: 'commissionTime' },
      { name: '类型：', key: 'type' }
    ],
    [
      { name: '地址：', key: 'address' },
      { name: '经度：', key: 'latitude' },
      { name: '纬度：', key: 'longitude' }
    ],
    [
      { name: '光伏组件朝向：', key: 'pvModuleOrientation' },
      { name: '光伏组件与地面倾斜角：', key: 'pvModuleInclination' }
    ],
    [{ name: '光伏板厂家：', key: 'pvPanelManufacturer' }]
  ],
  currStation: [],
  manufacturers: [],
  stationId: '',
  companyId: '',
  centerList: [],
  statInfo: {},
  statusList: []
})

watch(
  () => props.companyId,
  val => {
    state.companyId = val
  },
  { deep: true, immediate: true }
)
watch(
  () => props.stationId,
  val => {
    state.stationId = val
  },
  { deep: true, immediate: true }
)
watch(
  () => props.currStation,
  val => {
    let arr = JSON.parse(JSON.stringify(state.varCurrStation))
    arr.forEach(item => {
      item.forEach(m => {
        if (m.key == 'status') {
          m.value = val[m.key] == 0 ? '正常' : '异常'
        } else {
          m.value = val[m.key]
        }
      })
    })
    state.currStation = arr
  },
  { deep: true, immediate: true }
)
watch(
  () => props.tableData,
  val => {
    state.tableData = val
  },
  { deep: true, immediate: true }
)
watchEffect(() => {
  state.centerList = [
    // { name: '接入站点数', value: state.statInfo.stationNum, unit: '个', path: '/index/controlCenter' },
    { name: '总装机量', value: state.statInfo.installedCapacity, unit: 'kwh', path: '' },
    // { name: '接入企业数', value: state.statInfo.companyNum, unit: '个', path: '/fileManage/enterpriseArchives' },
    { name: '接入逆变电器数量数', value: state.statInfo.inverterNum, unit: '个', path: '' },
    { name: '系统安全运行天数', value: state.statInfo.safeOperationDays, unit: '天' }
  ]
})
getEquiStatusHandler()
getManufacturersHandler()
getIndexCodesAllHandler()
getEquiOnlineChartHandler()
getComprehensiveInfoH()

let interval = setInterval(() => {
  getEquiOnlineChartHandler()
  getComprehensiveInfoH()
}, 5000)

onUnmounted(() => {
  clearInterval(interval)
})

onMounted(() => {
  state.doubleData = {
    // title: '近7天单MW发电量对比',
    xdata: ['2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01'],
    y_left: {
      name: '逆变器',
      data: [20, 60, 110, 40, 80, 10, 50]
    },
    y_right: {
      name: '光伏站',
      data: [20, 60, 110, 80, 10, 50, 20]
    }
  }
})

function getEquiStatusHandler() {
  getEquiStatus().then(res => {
    state.statusList = res.data.list
  })
}

function getComprehensiveInfoH() {
  getComprehensiveInfo().then(res => {
    state.statInfo = res.data
  })
}
// 数据点记录图表
function getPointHistoryChartHandler() {
  let params = {
    // stationId: state.stationId,
    // queryTime: state.queryTime,
    // indexCode: state.indexCode
  }
  for (const key in params) {
    if (!params[key] || params[key] == '') {
      delete params[key]
    }
  }
  getPointHistoryChart(params).then(res => {
    let name = []
    let value = []
    res.data.forEach(item => {
      name.push(item.name.split(' ')[1].slice(0, 5))
      value.push(item.value)
    })
    state.indexCodeChart = { name, value }
  })
}

function getManufact(id) {
  let name = ''
  state.manufacturers.forEach(item => {
    if (item.id == id) {
      name = item.name
    }
  })
  return name
}
function getManufacturersHandler() {
  getManufacturers({ pageNum: 1, pageSize: 99999 }).then(res => {
    state.manufacturers = res.data ? res.data.list : []
  })
}
function getIndexCodesAllHandler() {
  getIndexCodesAll().then(res => {
    state.indexCodes = res.data ? res.data : []
    state.indexCode = state.indexCodes.length > 0 ? state.indexCodes[0].id : ''
    getPointHistoryChartHandler()
  })
}
function changeHandler(value) {
  state.queryTime = dateFormat(value)
  getPointHistoryChartHandler()
}

function selectChange(val) {
  // state.labelName
  state.indexCodes.forEach(item => {
    if (val == item.id) {
      state.labelName = item.name
    }
  })
  getPointHistoryChartHandler()
}

// 逆变器在线率
function getEquiOnlineChartHandler() {
  getEquiOnlineChart().then(res => {
    let sum = res.data.reduce((totalPrice, item) => totalPrice + parseInt(item.value), 0)
    state.equiOnlineSum = sum == 0 ? 1 : sum
    res.data.forEach(item => {
      if (item.name.includes('在')) {
        state.equiOnlinePect = (parseInt(item.value) / state.equiOnlineSum) * 100
        item.color = '#32f7ff'
      } else {
        item.color = '#FF7A76'
      }
    })
    state.equiOnlineData = res.data
  })
}
</script>
<style lang="less" scoped>
.sl_img {
  width: 75%;
  //   padding-right: 20px;
  height: 100%;
  .sl_img_left {
    width: calc(34% - 20px);
    height: 100%;
    padding-top: 20px;
    .sl_img_left_box {
      margin: 0 0 20px 0;
      width: 100%;
      height: 24%;
      .top_box {
        padding: 10px 20px;
        .top_box_top {
          img,
          .elimg {
            width: 280px;
            height: 185px;
            border-radius: 8px;
            margin-right: 20px;
            border: 1px solid rgba(50, 247, 255, 0.2);
            // background: rgba(50, 247, 255, 0.05);
          }
          .top_box_top_right {
            width: 100%;
            .p_title {
              font-size: 18px;
              color: #fff;
            }
            p {
              padding: 5px 0;
              border-bottom: 1px dashed rgba(50, 247, 255, 0.2);
              .p_span {
                width: 33%;
                display: inline-block;
              }
              .p_span_3_1 {
                width: 40%;
              }
              .p_span_3_2 {
                width: 25%;
              }
              .p_span_2_1 {
                width: 60%;
              }
              .p_span_1 {
                width: 100%;
              }
            }
          }
        }
        .top_box_bot {
          p {
            padding-top: 15px;
          }
        }
      }
    }
    .sl_img_center_box {
      height: 32%;
      margin-bottom: 20px;
    }
    .sl_img_bot_box {
      height: 39%;
      .sl_img_bot_box_bottom {
        height: calc(100% - 25px);
      }
    }
    .qname {
      color: #bec0c7;
      font-size: 14px;
    }
    .hvalue {
      color: #fff;
      font-size: 14px;
    }
  }
  .sl_img_right {
    width: 66%;
    height: 100%;
    padding-top: 40px;
    .centerInfo {
      //   margin-top: -30px;
      height: 90px;
      top: -40px;
    }
    .MapHotZoneWrap {
      height: calc(100% - 295px);
      margin-bottom: 20px;
    }
    .sl_img_right_bot {
      height: 275px;
      > div {
        width: calc(50% - 10px);
      }
    }
  }
  .gkyl {
    :deep(tbody .cell) {
      color: rgba(50, 247, 255, 1);
      font-size: 14px;
    }
    .cfff {
      margin-right: 10px;
    }
  }
}
.nbqzxl {
  width: 100%;
  height: calc(100% - 30px);
}
.nbqzxljdt {
  height: 30px;
  :deep(.el-progress-bar__outer) {
    background-color: rgba(50, 247, 255, 0.04) !important ;
  }
}
</style>
