<template>
  <!-- 仪表盘 -->
  <div id="Dashboard" style="width: 100%; height: 100%"></div>
</template>
<script setup>
import { markRaw, reactive, watch, nextTick, onMounted, inject, defineProps } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import { selfAdaption, resize } from '@/utils/utils'
const echarts = inject('echarts')

const props = defineProps({
  data: {
    type: Number,
    default: () => {
      return 0
    }
  }
})
const state = reactive({
  echarts: null,
  value: 0
})
onMounted(() => {})
watch(
  () => props.data,
  val => {
    state.value = val || 0
    nextTick(() => {
      init()
    })
  },
  { deep: true, immediate: true }
)
function init() {
  if (state.echarts) {
    state.echarts.clear()
  }
  state.echarts = markRaw(echarts.init(document.getElementById('Dashboard')))
  //   let value = 90
  let option = {
    title: [
      {
        text: '发电在线率',
        y: '65%',
        x: 'center',
        textStyle: {
          fontWeight: 'bold',
          fontSize: selfAdaption(14),
          color: 'rgb(148, 157, 162)'
        }
      }
    ],
    angleAxis: {
      show: false,
      max: (100 * 360) / 180, // -45度到225度，二者偏移值是270度除360度
      type: 'value',
      startAngle: 180, // 极坐标初始角度
      splitLine: {
        show: false
      }
    },
    barMaxWidth: selfAdaption(20), // 圆环宽度
    radiusAxis: {
      show: false,
      type: 'category'
    },
    // 圆环位置和大小
    polar: {
      center: ['50%', '75%'],
      radius: selfAdaption(180)
    },
    series: [
      {
        type: 'bar',
        // stack: '测试',
        data: [
          {
            // 上层圆环，显示数据
            value: state.value,
            itemStyle: {
              color: {
                // 图形渐变颜色方法，四个数字分别代表，右，下，左，上，offset表示0%到100%
                type: 'linear',
                x: 0,
                y: 0,
                x2: 1, // 从左到右 0-1
                y2: 0,
                colorStops: [
                  {
                    offset: 0,
                    color: '#FF7676'
                  },
                  {
                    offset: 0.5,
                    color: '#FFC476'
                  },
                  {
                    offset: 1,
                    color: '#1DE6FF'
                  }
                ]
              }
            }
          }
        ],
        barWidth: selfAdaption(20),
        barGap: '-100%', // 柱间距离,上下两层圆环重合
        coordinateSystem: 'polar',
        roundCap: true, // 顶端圆角
        z: 3 // 圆环层级，同zindex
      },
      {
        // 下层圆环，显示最大值
        type: 'bar',
        data: [
          {
            value: 100,
            itemStyle: {
              color: 'rgb(26, 56, 55)',
              borderWidth: 0
            }
          }
        ],
        barGap: '-100%',
        coordinateSystem: 'polar',
        roundCap: true,
        z: 1
      },
      // 仪表盘
      {
        type: 'gauge',
        startAngle: 225, // 起始角度，同极坐标
        endAngle: -45, // 终止角度，同极坐标
        axisLine: {
          show: false
        },
        splitLine: {
          show: false
        },
        axisTick: {
          show: false
        },
        axisLabel: {
          show: false
        },
        splitLabel: {
          show: false
        },
        pointer: {
          // 分隔线
          show: false, // 是否显示指针
          shadowColor: 'auto', // 默认透明
          shadowBlur: selfAdaption(5),
          length: '50%',
          width: '2'
        },
        title: {
          show: false
        },
        itemStyle: {
          color: '#1598FF',
          borderColor: '#1598FF',
          borderWidth: selfAdaption(3)
        },
        detail: {
          formatter: function () {
            return state.value + '%'
          },
          color: 'rgb(50, 247, 255)',
          fontSize: selfAdaption(30),
          offsetCenter: [0, 0]
        },
        data: [
          {
            value: state.value
          }
        ]
      }
    ]
  }

  state.echarts.setOption(option)
  resize(state.echarts, 'Dashboard')
}
</script>
<style lang="less" scoped></style>
