<template>
  <div class="processSpan w100 flex textcenter">
    <div v-show="item.count" class="processSpan_item" v-for="(item, index) in state.dataList" :style="styleHandler(item.count)">
      <div class="w100">
        <div class="w100 processSpan_item_top">
          {{ item ? item.count + '%' : '' }}
        </div>
      </div>
      <div class="w100 processSpan_item_bottom" :title="'asdasd'">
        <el-tooltip class="box-item" effect="dark" :content="item.name" placement="bottom">
          <span class="w100 inlineblock textoverflow">{{ item ? item.name : '' }}</span>
        </el-tooltip>
      </div>
    </div>
    <div class="processSpan_item pointer" @click="moreHandler" style="width: 6%; background: #0a4f4e" v-if="state.fildataList.length != 0">
      <el-popover :placement="props.placement" trigger="click" popper-class="processSpan_popper ">
        <template #reference>
          <div>
            <div class="w100 processSpan_item_top">
              <el-icon style="color: #4ec5c5"><more-filled /></el-icon>
            </div>
            <div class="w100 processSpan_item_bottom">
              <span class="w100 inlineblock textoverflow">更多</span>
            </div>
          </div>
        </template>
        <template #default>
          <p class="F18 cfff p_tit">{{ props.titletext }}</p>
          <div class="w100 flex">
            <div v-show="item.count" class="processSpan_item textcenter" v-for="(item, index) in state.fildataList" :style="styleHandler(item.value)">
              <div class="w100">
                <div class="w100 processSpan_item_top">
                  {{ item ? item.count + '%' : '' }}
                </div>
              </div>
              <div class="w100 processSpan_item_bottom">
                <el-tooltip class="box-item" effect="dark" :content="item.name" placement="bottom">
                  <span class="w100 inlineblock textoverflow">{{ item ? item.name : '' }}</span>
                </el-tooltip>
              </div>
            </div>
          </div>
        </template>
      </el-popover>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'
const router = useRouter()
const route = useRoute()
const props = defineProps({
  data: {
    type: Array,
    default: () => {
      return [
        { name: '阳光', value: 1 },
        { name: '追日', value: 2 },
        { name: '科诺', value: 6 },
        { name: '奥太', value: 20 },
        { name: '奥泰', value: 10 },
        { name: '科诺', value: 16 },
        { name: '追日电气', value: 30 }
        // { name: '阿萨德5', value: 15 },
        // { name: '阿萨德5', value: 15 }
      ]
    }
  },
  placement: {
    type: String,
    default: () => {
      return 'top-end'
    }
  },
  titletext: {}
})
const state = reactive({
  data: 0,
  dataMax: 0,
  colorSection: [],
  dataList: [],
  fildataList: []
})
let color = ['#ff9435', '#ffce40', '#44cefe', '#785eff', '#3b7eff', '#55fdca']

watch(
  () => props.data,
  newval => {
    let maxArr = []
    newval.forEach((i) => {
      maxArr.push(i.count)
    })
    state.dataMax = Math.max(...maxArr)
    let spl = state.dataMax / 6
    let value = 0
    state.colorSection = color.map(item => {
      let numvar = value
      value += spl
      return {
        color: item,
        section: numvar + '-' + value
      }
    })
    let dataList = newval.sort(byKeySortHandle('count')).reverse()
    if (dataList.length > 6) {
      state.dataList = dataList.slice(0, 6)
      state.fildataList = dataList
    } else {
      state.dataList = dataList
      state.fildataList = []
    }
  }
)

watchEffect(() => {})
onMounted(() => {})

function moreHandler() {}
function styleHandler(param) {
  let color = ''
  state.colorSection.forEach((item) => {
    let section = item.section.split('-')

    if (param >= parseInt(section[0]) && param <= parseInt(section[1]) + 1) {
      color = item.color
    }
  })
  let width = param <= 6 && param > 0 ? 6 : param
  let str = 'width:' + width + '%;background:' + color + ';color:' + color
  return str
}
// 排序
function byKeySortHandle(key) {
  return function (a, b) {
    const val1 = a[key]
    const val2 = b[key]
    return val1 - val2
  }
}
</script>
<style lang="less">
.processSpan {
  height: 50px;
}
.processSpan_popper {
  width: 80% !important;
  height: 100px !important;
  border-image: linear-gradient(#145757, #4eeaef) 2 2 !important;
  background: linear-gradient(#021b18, #0f4444) !important;
  .el-popper__arrow::before {
    border-bottom-color: #4eeaef !important;
    border-right-color: #4eeaef !important;
    background: #0f4444 !important;
  }
  .p_tit {
    margin-bottom: 10px;
  }
}
.processSpan_item {
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  margin: 0 1px;
  .processSpan_item_top {
    height: 20px;
    line-height: 20px;
    // margin-bottom: 10px;
    color: #fff;
  }
  .processSpan_item_bottom {
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
  }
}
</style>
