<template>
  <div class="wh100 relative" id="elrdID">
    <!-- 图片热区 -->
    <img @click="imgClick" id="mapImg" style="opacity: 0.5" class="wh100" src="@/assets/images/mapImg.png" border="0" usemap="#planetmap" alt="Planets" />
    <map v-if="state.render" name="planetmap" id="planetmap">
      <area v-for="(item, index) in state.allPathData.allPath" shape="poly" :coords="coordsHandler(item.coord)" href="test.html" @click.prevent="mapImgClick($event, item)" :key="index + 90" />
    </map>
    <!-- 开发环境下，绘制图片热区 -->
    <canvas v-if="state.showCanvas" class="wh100 absolute" id="canvas" style="left: 0; top: 0">你的浏览器还不支持canvas</canvas>
    <div v-if="state.showCanvas" class="absolute canvasBtn">
      <el-input size="small" class="w200" v-model="state.name" placeholder="名称"></el-input>
      <el-input size="small" class="w200" v-model="state.nameCoord" placeholder="名称坐标"></el-input>
      <el-input size="small" class="w200" v-model="state.iconCoord" placeholder="图标坐标"></el-input>
      <br />
      <G-button size="small" class="mr15" @click="setCoords($event, 'name')">名称坐标</G-button>
      <G-button size="small" class="mr15" @click="setCoords($event, 'icon')">图标坐标</G-button>
      <G-button size="small" class="mr15" @click="setCoords($event, 'start')">开始绘制多边形</G-button>
      <G-button size="small" class="mr15" @click="closePath">保存本次形状</G-button>
      <G-button size="small" class="mr15" @click="exportJSON">导出全部路径</G-button>
      <G-button size="small" class="mr15" @click="clearPath">清空</G-button>
    </div>
    <!-- 图标弹框 -->
    <div v-if="state.renderIcon" class="absolute iconPopup" :key="index + 25" v-for="(item, index) in state.allPathData.allPath" :style="iconPopupStyle(item)">
      <img src="../../../assets/images/mapIcon.png" @click="mapImgClick($event, item)" alt="" />
      <div v-show="item.isShow" class="iconPopup_div cfff">
        <p class="flex flex-ac">
          <i></i>
          <span class="F18">{{ item.name }}厂房逆变器</span>
        </p>
        <p class="F14">日发电量：{{ item.dailyPowerGeneration ? item.dailyPowerGeneration : '-' }} KWh</p>
        <p class="F14">累计发电量：{{ item.dailyPowerGeneration ? item.dailyPowerGeneration : '-' }} Wh</p>
        <p class="F14">输出功率：{{ item.dailyPowerGeneration ? item.dailyPowerGeneration : '-' }} W</p>
        <p class="F14">状态：{{ item.status || item.status == 0 ? getName(item.status) : '-' }}</p>
       </div>
    </div>
    <div v-if="state.renderIcon" @click="mapImgClick($event, item)" class="absolute namePopup" v-for="(item, index) in state.allPathData.allPath" :style="namePopupStyle(item)" :key="index + 78">
      <span class="F14 cfff">{{ item.name }}</span>
    </div>
    <!--  -->
  </div>
</template>
<script setup>
import * as elementResizeDetector from 'element-resize-detector'
import { reactive, watch, nextTick, onMounted, defineProps } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import { ElMessage } from 'element-plus'
import allPathData from './path.json'

const props = defineProps({
  statusList: {
    default: () => {
      return []
    }
  }
})

const state = reactive({
  canvas: null,
  context: null,
  onpath: [],
  //   downCurrXY: '',
  //   upCurrXY: '',
  showCanvas: false,
  allPath: [],
  currXY: '',
  render: true,
  mapImg: null,
  allPathData: allPathData,
  coords: [],
  renderIcon: false,
  nameCoord: '',
  iconCoord: '',
  name: '',
  type: '',
  isShow: false
})
onMounted(() => {
  let elrd = elementResizeDetector()
  state.mapImg = document.getElementById('mapImg')
  state.renderIcon = true
  //   console.log(state.mapImg.width, state.mapImg.height, 'state.mapImg')
  //   监听元素宽高
  elrd.listenTo(document.getElementById('elrdID'), function (e) {
    if (state.mapImg) {
      state.render = false
      nextTick(() => {
        state.render = true
      })
    }
  })
  // 开发环境初始化canvas
  //   if (process.env.NODE_ENV == 'development') {
  //     state.showCanvas = true
  //     nextTick(() => {
  //       initCanvas()
  //     })
  //   }
})
function getName(params) {
  let { status } = params
  let name = ''
  props.statusList.forEach(item => {
    //   && item.equipmentType == equipmentTypeId
    if (item.id == status) {
      name = item.name
    }
  })
  return name
}
function imgClick(e) {
  state.allPathData.allPath.forEach(item => {
    item.isShow = false
  })
}

function iconPopupStyle(params) {
  let { w, h } = { ...getProportion() }
  let str = `left:${w * params.iconCoord[0] - 10}px;top:${h * params.iconCoord[1] - 20}px`
  return str
}
function namePopupStyle(params) {
  let { w, h } = { ...getProportion() }
  let str = `left:${w * params.nameCoord[0] - 10}px;top:${h * params.nameCoord[1] - 20}px`
  return str
}

function initCanvas() {
  state.canvas = document.getElementById('canvas')
  state.canvas.width = state.mapImg.width
  state.canvas.height = state.mapImg.height
  state.context = state.canvas.getContext('2d')
  state.context.strokeStyle = 'orange'
  state.context.lineWidth = selfAdaption(2)
  // canvas测试坐标↓↓↓↓↓↓
  let { w, h } = { ...getProportion() }
  state.allPathData.allPath.forEach(imt => {
    state.context.beginPath()
    console.log(imt, '90909')
    let ppp = imt.coord
    ppp.forEach((item, index) => {
      if (index == 0) {
        state.context.moveTo(ppp[0] * w, ppp[1] * h)
      } else if (index % 2 == 0) {
        state.context.lineTo(item * w, ppp[index + 1] * h)
      }
    })
    state.context.stroke()
  }) // ↑↑↑↑↑↑↑↑↑↑↑
  state.canvas.addEventListener('click', e => {
    let rect = state.canvas.getBoundingClientRect()
    var x = (event.clientX - rect.left) * (state.canvas.width / rect.width)
    var y = (event.clientY - rect.top) * (state.canvas.height / rect.height)
    if (state.type == 'start') {
      console.log('当前canvas坐标：', x, y)
      if (state.currXY == '') {
        state.context.moveTo(x, y)
        state.onpath.push(x, y)
      } else {
        let xy = state.currXY.split('|')
        state.context.moveTo(Number(xy[0]), Number(xy[1]))
        state.context.lineTo(x, y)
        state.context.stroke()
        state.onpath.push(x, y)
      }
      state.currXY = x + '|' + y
    }
    if (state.type == 'name') {
      state.nameCoord = x + ',' + y
    }
    if (state.type == 'icon') {
      state.iconCoord = x + ',' + y
    }
  })
}

function getProportion() {
  let w = state.mapImg ? state.mapImg.width / state.allPathData.imgInitWH.width : 1
  let h = state.mapImg ? state.mapImg.height / state.allPathData.imgInitWH.height : 1
  return { w, h }
}

function nameCoord() {
  state.canvas.removeEventListener('click', () => {})
  state.canvas.addEventListener('click', e => {
    let rect = state.canvas.getBoundingClientRect()
    var x = (event.clientX - rect.left) * (state.canvas.width / rect.width)
    var y = (event.clientY - rect.top) * (state.canvas.height / rect.height)
    console.log('当前canvas坐标：', x, y)
    state.nameCoord = x + ',' + y
  })
}

function iconCoord() {
  state.canvas.removeEventListener('click', () => {})
  state.canvas.addEventListener('click', e => {
    let rect = state.canvas.getBoundingClientRect()
    var x = (event.clientX - rect.left) * (state.canvas.width / rect.width)
    var y = (event.clientY - rect.top) * (state.canvas.height / rect.height)
    console.log('当前canvas坐标：', x, y)
    state.iconCoord = x + ',' + y
  })
}

function getCoord() {
  state.canvas.removeEventListener('click', () => {})
  state.canvas.addEventListener('click', e => {
    let rect = state.canvas.getBoundingClientRect()
    var x = (event.clientX - rect.left) * (state.canvas.width / rect.width)
    var y = (event.clientY - rect.top) * (state.canvas.height / rect.height)
    console.log('当前canvas坐标：', x, y)
    // state.coords.push({ x, y })
  })
}

function exportCoords() {
  exportHandler(state.coords)
}

function setCoords(e, type) {
  state.type = type
  if (type == 'start') {
    state.context.beginPath()
    state.onpath = []
  }
}
function closePath() {
  ElMessage({
    message: '已保存本次闭合路径',
    type: 'success'
  })
  state.allPath.push({
    name: state.name,
    nameCoord: state.nameCoord.split(',').map(item => {
      return Number(item)
    }),
    iconCoord: state.iconCoord.split(',').map(item => {
      return Number(item)
    }),
    coord: state.onpath
  })
  state.currXY = ''
  state.onpath = []
  state.canvas.removeEventListener('click', () => {})
  //   console.log(state.allPath, 'state.allPath')
}
function clearPath() {
  state.allPath = []
  state.onpath = []
  state.context.clearRect(0, 0, state.canvas.width, state.canvas.height)
}
function exportJSON() {
  let params = {
    imgInitWH: {
      width: state.mapImg.width,
      height: state.mapImg.height
    },
    allPath: state.allPath,
    isShow: false
  }
  exportHandler(params)
}
function exportHandler(params) {
  var data = JSON.stringify(params)
  // encodeURIComponent解决中文乱码
  let uri = 'data:text/csv;charset=utf-8,\ufeff' + encodeURIComponent(data)
  // 通过创建a标签实现
  let link = document.createElement('a')
  link.href = uri
  // 对下载的文件命名
  link.download = 'hotZonePath.json'
  document.body.appendChild(link)
  link.click()
  document.body.removeChild(link)
}

// 坐标自适应
function coordsHandler(strArr) {
  if (strArr && strArr.length > 0) {
    let { w, h } = { ...getProportion() }
    let arr = strArr.map((item, index) => {
      if (index % 2 == 0) {
        return Number(item) * w
      } else {
        return Number(item) * h
      }
    })
    return arr.join()
  }
  return ''
}

function mapImgClick(e, params) {
  //   let str = `图片热区--当前坐标  ${e.offsetX},${e.offsetY}`
  if (params.isShow) {
    params.isShow = !params.isShow
  } else {
    state.allPathData.allPath.forEach(item => {
      item.isShow = false
    })
    nextTick(() => {
      params.isShow = true
    })
  }
}
function selfAdaption(res) {
  let clientWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth
  if (!clientWidth) return
  let fontSize = clientWidth / 1920
  return res * fontSize
}
</script>
<style lang="less" scoped>
.canvasBtn {
  right: 0;
  top: 0;
}
.iconPopup {
  //   border: 1px solid red;
  width: 20px;
  height: 26px;
  img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .iconPopup_div {
    position: absolute;
    z-index: 999;
    width: 220px;
    height: 165px;
    bottom: 26px;
    left: 10px;
    background: url('../../../assets/images/img_dialog.png');
    background-size: 100% 100%;
    padding: 10px 10px 20px 20px;
    p {
      margin: 5px 0;
    }
    i {
      width: 6px;
      height: 6px;
      display: inline-block;
      border: 5px solid #32f7ff;
      border-radius: 50%;
      margin-right: 15px;
    }
  }
}
.namePopup {
  width: 38px;
  height: 22px;
  background: url('../../../assets/images/mapName.png');
  background-size: 100% 100%;
  line-height: 22px;
  text-align: center;
}
.w200 {
  width: 200px;
}
</style>
