* {
  margin: 0;
  padding: 0;
}

body {
  color: #279898;
  background: rgb(3, 10, 10);
  font-family: 'Arial-BoldMT', Arial, 'Microsoft YaHei', '微软雅黑', Avenir, Helvetica, sans-serif;
}

body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
tr {
  font-size: 12px;
}

html,
body,
#app,
#App {
  width: 100%;
  height: 100%;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

// .noselect {
//   -webkit-touch-callout: none; /* iOS Safari */
//   -webkit-user-select: none; /* Chrome/Safari/Opera */
//   -khtml-user-select: none; /* Konqueror */
//   -moz-user-select: none; /* Firefox */
//   -ms-user-select: none; /* Internet Explorer/Edge */
//   user-select: none;
// }

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div,
p {
  box-sizing: border-box;
}
li {
  list-style-type: none;
}

img {
  border: none;
}

i,
em {
  font-style: normal;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.border0 {
  border: 0 !important;
}

.textleft {
  text-align: left;
}

.textcenter {
  text-align: center;
}

.textright {
  text-align: right;
}

.unLine {
  text-decoration: underline;
}

.textdnone {
  text-decoration: none;
}

.clear {
  clear: both;
  height: 0px;
  width: 100%;
  font-size: 1px;
  line-height: 0px;
  visibility: hidden;
  overflow: hidden;
}

.FB {
  font-weight: bold;
}

.FN {
  font-weight: normal;
}

.FI {
  font-style: italic;
}

.F10 {
  font-size: 10px;
}

.F11 {
  font-size: 11px;
}

.F12 {
  font-size: 12px;
}

.F13 {
  font-size: 13px;
}

.F14 {
  font-size: 14px;
}

.F16 {
  font-size: 16px;
}
.F16IM {
  font-size: 16px !important;
}

.F18 {
  font-size: 18px;
}
.F18IM {
  font-size: 18px !important;
}
.F20 {
  font-size: 20px;
}
.F22 {
  font-size: 22px;
}
.F24 {
  font-size: 24px;
}
.F24IM {
  font-size: 24px !important;
}
.cfff {
  color: #fff;
}
// *******************************************滚动条样式************************************************
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 6px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 6px;
  //   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #08555b;
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  //   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: rgba(0, 0, 0, 0);
}
// 火狐
div {
  scrollbar-color: #08555b rgba(0, 0, 0, 0); // 将第一种颜色应用于滚动条拇指，第二种颜色应用于滚动条轨道。. */
  scrollbar-width: thin; //auto 默认 thin瘦体 none 无滚动条
}

// *********************************通用统一样式**********************************
:root {
  --input-border-color: #347e80;
  --input-text-color: #238e94;
}
.shareBox {
  width: 100%;
  height: 100%;
  padding: 20px;
}
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

.flex-ac {
  align-items: center;
}

.flex-jb {
  justify-content: space-between;
}

.flex-ja {
  justify-content: space-around;
}

.flex-jc {
  justify-content: center;
}
.flex1 {
  flex: 1;
}
.padd10 {
  padding: 10px;
}
.padd20 {
  padding: 20px;
}
.paddt20 {
  padding-top: 20px;
}
.paddb20 {
  padding-bottom: 20px;
}
.paddl20 {
  padding-left: 20px;
}
.paddr20 {
  padding-right: 20px;
}
.m15 {
  margin: 15px;
}
.ml15 {
  margin-left: 15px;
}
.mr15 {
  margin-right: 15px;
}
.mt15 {
  margin-top: 15px;
}
.mb15 {
  margin-bottom: 15px;
}
.m20 {
  margin: 20px;
}
.ml20 {
  margin-left: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.textShadow {
  text-shadow: 0px 0px 20px #fff;
}
.ohidden {
  overflow: hidden;
}
.oauto {
  overflow: auto;
}
.nowrap {
  white-space: nowrap;
}
.wh100 {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}
.h100 {
  height: 100%;
}
.inlineblock {
  display: inline-block;
}
.block {
  display: block;
}
.textoverflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.oxhidden {
  overflow-x: hidden;
}
.vam {
  vertical-align: middle;
}
.img14 {
  width: 14px;
  height: 14px;
}

.borderImage {
  border-image: -webkit-linear-gradient(rgba(45, 170, 176, 0.2), rgba(45, 170, 176, 1) 10%, rgba(45, 170, 176, 0.2) 80%, rgba(45, 170, 176, 0.1) 95%) 2 2;
  border-image: -moz-linear-gradient(rgba(45, 170, 176, 0.2), rgba(45, 170, 176, 1) 10%, rgba(45, 170, 176, 0.2) 80%, rgba(45, 170, 176, 0.1) 95%) 2 2;
  border-image: -o-linear-gradient(rgba(45, 170, 176, 0.2), rgba(45, 170, 176, 1) 10%, rgba(45, 170, 176, 0.2) 80%, rgba(45, 170, 176, 0.1) 95%) 2 2;
  border-image: linear-gradient(rgba(45, 170, 176, 0.2), rgba(45, 170, 176, 1) 10%, rgba(45, 170, 176, 0.2) 80%, rgba(45, 170, 176, 0.1) 95%) 2 2;
}
.pointer {
  cursor: pointer;
}

// *******************************************elementplus************************************************
.el-select__popper.el-popper[role='tooltip'] {
  background: #022a29 !important;
  border-color: var(--input-border-color) !important;
}
.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background-color: rgba(52, 126, 128, 0.3) !important;
}
.el-select-dropdown__item {
  color: var(--input-text-color) !important;
}
.el-select__popper.el-popper[role='tooltip'][data-popper-placement^='top'] .el-popper__arrow::before {
  border-bottom-color: var(--input-border-color) !important;
  border-right-color: var(--input-border-color) !important;
}
.el-select__popper.el-popper[role='tooltip'][data-popper-placement^='bottom'] .el-popper__arrow::before {
  border-top-color: var(--input-border-color) !important;
  border-left-color: var(--input-border-color) !important;
}
.el-popper.is-light .el-popper__arrow::before {
  background-color: #022a29 !important;
}

div.el-picker-panel {
  background: #022a29;
  color: var(--input-text-color);
  .el-date-picker__header-label {
    color: var(--input-text-color);
  }
  .el-date-table th {
    border-bottom: var(--input-border-color);
  }
}

div.el-picker__popper.el-popper.is-light {
  background: #022a29;
}
div.el-picker-panel__footer {
  background-color: #022a29;
  .el-button {
    border: 0;
    background: transparent;
    color: #409eff;
  }
}
div.el-input {
  --el-input-bg-color: #022a29;
  --el-input-border: 1px solid var(--input-border-color);
  --el-input-text-color: var(--input-text-color);
  --el-input-hover-border: var(--input-border-color);
  --el-input-focus-border: var(--input-border-color);
  --el-input-border-color: var(--input-border-color);
  --el-input-placeholder-color: var(--input-text-color);
  --el-input-icon-color: var(--input-border-color);
  --el-input-clear-hover-color: var(--input-border-color);
}
.el-input.is-disabled input.el-input__inner {
  background-color: #022a29;
  border-color: var(--input-border-color);
  color: var(--input-text-color);
}
div.el-select {
  --el-select-input-focus-border-color: var(--input-border-color);
  --el-select-border-color-hover: var(--input-border-color);
  --el-select-border-color-hover: var(--input-border-color);
  --el-select-input-color: var(--input-border-color);
}
div.el-date-picker {
  --el-datepicker-text-color: var(--input-text-color);
  --el-datepicker-header-text-color: var(--input-text-color);
  --el-datepicker-off-text-color: var(--input-text-color);
  --el-datepicker-icon-color: var(--input-text-color);
  --el-datepicker-border-color: var(--input-border-color);
  --el-datepicker-inner-border-color: var(--input-border-color);
}
div.el-table {
  --el-table-bg-color: rgba(0, 0, 0, 0);
  --el-table-tr-bg-color: rgba(0, 0, 0, 0);
  --el-table-header-bg-color: #0b2625;
  --el-table-border-color: #103a36;
  --el-table-row-hover-bg-color: rgba(255, 255, 255, 0.2);
  --el-table-text-color: #fff;
  --el-table-header-text-color: #fff;
  --el-table-current-row-bg-color: rgba(255, 255, 255, 0.2);
}
.el-table__body-wrapper {
  height: calc(100% - 48px) !important;
}
div.el-table--enable-row-transition .el-table__body td.el-table__cell {
  transition: background-color 0s ease;
}
div.el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell {
  background: rgba(255, 255, 255, 0.05);
}
div.el-table--striped .el-table__body tr.el-table__row--striped.current-row td.el-table__cell {
  background: rgba(82, 9, 9, 0.2);
}

div.el-table--striped .el-table__body tr.el-table__row--striped.current-row td.el-table__cell {
  background: rgba(255, 255, 255, 0.2);
}
div.el-table--striped .el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell {
  background: rgba(255, 255, 255, 0.2);
}

div.el-table--striped .el-table__body tr.hover-row.el-table__row--striped > td.el-table__cell:nth-child(1),
div.el-table--striped .el-table__body tr.hover-row.el-table__row--striped > td.el-table__cell:nth-child(2),
div.el-table--striped .el-table__body tr.hover-row.current-row > td.el-table__cell:nth-child(1),
div.el-table--striped .el-table__body tr.hover-row.current-row > td.el-table__cell:nth-child(2),
div.el-table--striped .el-table__body tr.hover-row > td.el-table__cell {
  background-color: #394545 !important;
}

div.el-table--striped {
  div.el-table__fixed {
    //   border-right: 1px solid rgba(50, 247, 255, 0.32);
    .el-table__body tr td.el-table__cell {
      background: #071717;
    }
    .el-table__body tr.el-table__row--striped td.el-table__cell {
      background: #172324;
    }
    .el-table__body tr.current-row td.el-table__cell {
      background: #394545;
    }
  }
  div.el-table__fixed-right::before,
  div.el-table__fixed::before {
    height: 0;
  }
}

label.el-radio {
  --el-radio-input-bg-color: rgba(29, 230, 255, 0.1);
  --el-radio-input-border: 1px solid rgba(29, 230, 255, 0.2);
  --el-radio-text-color: rgba(50, 247, 255, 0.49);
  --el-radio-input-border-color-hover: rgba(29, 230, 255, 0.5);
}

span.el-radio__input.is-checked + span.el-radio__label {
  color: rgba(29, 230, 255, 0.88);
}
span.el-radio__input.is-checked span.el-radio__inner {
  border: 1px solid rgba(29, 230, 255, 0.2);
  background: rgba(29, 230, 255, 0.88);
}
div.el-radio-group {
  display: flex;
  align-items: center;
}

label.el-radio {
  margin-right: 15px;
}

span.el-radio__input.is-checked span.el-radio__inner::after {
  content: '';
  width: 6px;
  height: 3px;
  border: 2px solid white;
  border-top: transparent;
  border-right: transparent;
  text-align: center;
  display: block;
  position: absolute;
  top: 3px;
  left: 2px;
  vertical-align: middle;
  transform: rotate(-45deg);
  border-radius: 0px;
  background: none;
}

.el-descriptions__body {
  background-color: transparent !important;
}
div.el-descriptions {
  --el-descriptions-item-bordered-label-background: #012323;
  --el-descriptions-table-border: 1px solid #103a36;
}

.box {
  background: rgba(50, 247, 255, 0.06);
  border-bottom: 2px solid #32f7ff;
}
.box_title {
  height: 56px;
  font-size: 16px;
  line-height: 56px;
  padding-left: 40px;
  font-weight: bold;
  color: #fff;
  .box_title_right {
    color: rgba(50, 247, 255, 0.49);
  }
}
.box_main {
  width: 100%;
  height: calc(100% - 56px);
}
.box-bg-mini {
  background: url('../../assets/images/boxbg-mini.png') no-repeat;
  background-size: 100% 100%;
}
.box-bg-small {
  background: url('../../assets/images/boxbg-small.png') no-repeat;
  background-size: 100% 100%;
}
.box-bg-small-big {
  background: url('../../assets/images/boxbg-small-big.png') no-repeat;
  background-size: 100% 100%;
}
.box-bg-small-biger {
  background: url('../../assets/images/boxbg-small-biger.png') no-repeat;
  background-size: 100% 100%;
}

.box-bg-big {
  background: url('../../assets/images/boxbg-big.png') no-repeat;
  background-size: 100% 100%;
}
.box-bg-big-small {
  background: url('../../assets/images/boxbg-big-small.png') no-repeat;
  background-size: 100% 100%;
}

.box-bg-big-big {
  background: url('../../assets/images/boxbg-big-big.png') no-repeat;
  background-size: 100% 100%;
}
.box-bg-large {
  background: url('../../assets/images/boxbg-large.png') no-repeat;
  background-size: 100% 100%;
}
.box-bg-large-oth {
  background: url('../../assets/images/boxbg-large-oth.png') no-repeat;
  background-size: 100% 100%;
}
.box-bg-other {
  background: url('../../assets/images/boxbg-other.png') no-repeat;
  background-size: 100% 100%;
}
.box-jcxx-t-bg {
  background: url('../../assets/images/jcxx-t-bg.png') no-repeat;
  background-size: 100% 100%;
}

.nbq_titlebg {
  background: url('../../assets/images/nbq_titlebg.png') no-repeat;
  background-size: 100% 100%;
}

.pageTitle {
  font-size: 24px;
  color: #fff;
  text-shadow: 0px 0px 20px #3df5ff;
  -webkit-text-stroke: 1px #ffffff;
  text-stroke: 1px #ffffff;
  line-height: 31px;
}
.pageSubTitle {
  color: #ffffff;
  line-height: 24px;
  font-size: 18px;
}
.datePicker {
  .tex {
    margin: 0 10px;
  }
}
.datePicker_propper {
  table.el-date-table td.disabled div.el-date-table-cell {
    background-color: rgba(245, 247, 250, 0.1) !important;
    color: rgba(255, 255, 255, 0.2) !important;
  }
}

.el-select .el-input,
.el-date-editor {
  width: 140px !important;
  input.el-input__inner {
    width: 140px !important;
  }
}
.mr10 {
  margin-right: 10px;
}
.verline {
  width: 1px;
  background: linear-gradient(rgba(50, 247, 255, 0) 10%, #4cfaff 40%, rgba(50, 247, 255, 0) 90%);
}
.Share_Main {
  margin-top: 20px;
  height: calc(100% - 51px);
  .Share_MR_Height {
    height: calc(100% - 56px);
    max-width: 100%;
  }
}
.treeWidth {
  width: calc(100% - 275px);
}
.treeTSN {
  transition: all 0.5s;
}

.input_w100 {
  :deep(.el-select),
  :deep(.el-select .el-input),
  :deep(.el-date-editor),
  :deep(.el-input__inner) {
    width: 100% !important;
  }
}
.input_w50 {
  :deep(.el-select),
  :deep(.el-select .el-input),
  :deep(.el-date-editor),
  :deep(.el-input__inner) {
    width: 50% !important;
  }
}
.el-form--label-top label.el-form-item__label {
  padding: 0;
  font-size: 12px;
  color: #c0f8ff;
}
div.el-form-item--small.el-form-item {
  margin-bottom: 10px;
}

colgroup {
  col[width='120'] {
    width: 120px;
  }
  col[width='150'] {
    width: 150px;
  }
}

.successColor {
  color: #32ff96;
}
.errorColor {
  color: #ff3465;
}
.noColor {
  color: transparent;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0 #ffffff;
  text-stroke: 0 #ffffff;
}
.image-slot {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(50, 247, 255, 0.6);
  font-size: 14px;
  .el-icon {
    font-size: 50px;
  }
}
