<template>
  <div class="wh100">
    <div class="pageTitle">{{ state.centerName }} <span class="noColor">中心</span></div>
    <div class="controlCenter_main w100 flex">
      <div class="controlCenter_left oauto box">
        <LeftInfo :data="state.statInfo"></LeftInfo>
      </div>
      <div class="controlCenter_right">
        <div class="controlCenter_right_top w100">
          <div class="controlCenter_right_top_top w100 flex flex-wrap">
            <div :class="{ controlCenter_right_top_top_item: true, border0: !item }" v-for="(item, index) in state.allStations" @click="pushHandler(item.id)">
              <div v-if="item" class="relative wh100">
                <el-image class="wh100" :src="state.imgURL + item.imgPath">
                  <template #error>
                    <div class="image-slot">
                      <el-icon><picture-filled /></el-icon>
                      <span>暂无图片</span>
                      <span class="noColor">暂无图片</span>
                      <span class="noColor">暂无图片</span>
                    </div>
                  </template>
                </el-image>
                <div class="absolute w100">
                  <p>
                    <span>名称</span><i>{{ item.name }}</i>
                  </p>
                  <p>
                    <span
                      ><span>日发电量：</span><i>{{ item.dailyPowerGeneration }}</i
                      ><em> kWh</em></span
                    >
                    <span
                      ><span>装机量：</span><i>{{ item.installedCapacity }}</i
                      ><em> KVA</em></span
                    >
                  </p>
                </div>
              </div>
              <img class="wh100" v-else src="../../assets/images/ccnodata.png" alt="" />
            </div>
          </div>
          <G-pagination :pageSize="state.pageSize" @sizeChange="sizeChange" @currentChange="currentChange" class="pagination" :total="state.total"></G-pagination>
        </div>

        <div class="controlCenter_right_bot w100 flex">
          <div class="box controlCenter_right_botbox">
            <p class="box_title box-bg-small-big">逆变器状态信息</p>
            <div class="box_main padd20">
              <PieChart :data="state.pieChartData" :legend="state.legend" :seriesObj="state.seriesObj"></PieChart>
            </div>
          </div>

          <div class="box controlCenter_right_botbox">
            <p class="box_title box-bg-small-big">故障类型信息</p>
            <div class="box_main flex">
              <div class="leftchart padd20">
                <Radarchart :data="state.alarmTypeChart"></Radarchart>
              </div>
              <div class="rightleng flex flex-column flex-ja">
                <p v-for="item in state.legd" class="flex flex-ac">
                  <i :style="{ background: item.color }"></i>
                  <span class="textoverflow">{{ item.name }}</span>
                  <em>{{ item.value }}</em>
                </p>
              </div>
            </div>
          </div>

          <div class="box controlCenter_right_botbox">
            <p class="box_title box-bg-small-big">实时告警</p>
            <div class="box_main paddl20 paddr20 paddt20">
              <!-- <Table @currentChange="tableCurrentChange"></Table> -->
              <Table :data="state.alarmList" :total="state.tableTotal" @currentChange="tableCurrentChange"></Table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, onMounted, onUnmounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import { dateFormat, cgDateTime } from '@/utils/utils'
import { selfAdaption } from '@/utils/utils'
import { getAllStations, getComprehensiveInfo, getAlalarmTypeChart, getStations, getEqmTree, getInverterStatusChart, getPointAlarmHistorys } from '@/http/api'
import LeftInfo from './components/leftInfo.vue'
import PieChart from '@/components/echarts/pieChart.vue'
import Radarchart from '@/components/echarts/radarchart.vue'
import Table from './components/table.vue'

const router = useRouter()
const route = useRoute()
const state = reactive({
  legend: {
    show: true,
    right: selfAdaption(5),
    top: 'center',
    orient: 'vertical',
    itemGap: selfAdaption(30)
  },
  seriesObj: {
    center: ['35%', '55%'],
    radius: [selfAdaption(30) + '%', selfAdaption(55) + '%']
  },
  //   ldList: [
  //     { name: '警告', color: '#FF6B6B', value: 222 },
  //     { name: '越限', color: '#FFB242', value: 222 },
  //     { name: '预警', color: '#72B1FF', value: 222 },
  //     { name: '低效', color: '#C55AFF', value: 222 },
  //     { name: '离散率', color: '#FF7198', value: 222 }
  //   ],
  legd: [],
  allStations: [],
  total: 0,
  statInfo: {},
  pieChartData: [],
  pageNum: 1,
  pageSize: 8,
  tablePageNum: 1,
  tableTotal: 0,
  imgURL: IMG_FILE_BASE_URL
})
getEqmTreeHandler()
getStationsHandler()
getComprehensiveInfoH()
getInverterStatusChartH()
getPointAlarmHistorysHandler()
getAlalarmTypeChartH()
let interval = setInterval(() => {
  getComprehensiveInfoH()
  getPointAlarmHistorysHandler()
}, 5000)

onMounted(() => {})

onUnmounted(() => {
  clearInterval(interval)
})

function getAlalarmTypeChartH() {
  getAlalarmTypeChart().then(res => {
    let name = []
    let value = []
    let max = Math.max.apply(
      Math,
      res.data.map(item => {
        return item.value
      })
    )
    res.data.forEach(item => {
      name.push({ name: item.name, max })
      value.push(item.value)
      item.color = '#32f7ff'
    })
    state.legd = res.data
    state.alarmTypeChart = { name, value }
  })
}

function tableCurrentChange(val) {
  state.tablePageNum = val
  getPointAlarmHistorysHandler()
}

function getPointAlarmHistorysHandler() {
  getPointAlarmHistorys({ pageNum: state.tablePageNum, pageSize: 10 }).then(res => {
    state.alarmList = res.data.list
    state.tableTotal = res.data.total
  })
}

function getStationsHandler() {
  getStations({ pageNum: state.pageNum, pageSize: state.pageSize }).then(res => {
    if (res.data && res.data.list.length > 0) {
      let data = res.data.list
      state.total = res.data.total
      for (let i = 0; i < 8; i++) {
        if (!data[i]) {
          data[i] = null
        }
      }
      state.allStations = data
    } else {
      state.allStations = [null, null, null, null, null, null, null, null]
      state.total = 0
    }
  })
}
function pushHandler(id) {
  if (id || id == 0) {
    router.push({ path: '/index/siteOverview', query: { id } })
  }
}
function sizeChange(val) {
  state.pageSize = val
  getStationsHandler()
}
function currentChange(val) {
  state.pageNum = val
  getStationsHandler()
}
function getComprehensiveInfoH() {
  getComprehensiveInfo().then(res => {
    state.statInfo = res.data
  })
}
function getInverterStatusChartH() {
  getInverterStatusChart().then(res => {
    state.pieChartData = res.data
  })
}
function getEqmTreeHandler() {
  getEqmTree({ level: 1 }).then(res => {
    state.centerName = res.data[0].name
  })
}
function getAllStationsHandler() {
  getAllStations().then(res => {
    state.allStations = res.data
  })
}
</script>
<style lang="less" scoped>
.controlCenter_main {
  height: calc(100% - 50px);
  margin-top: 20px;
}
.controlCenter_left {
  height: 100%;
  width: 300px;
  border-top: 2px solid #32f7ff;
}
.controlCenter_right {
  margin-left: 0px;
  width: calc(100% - 300px);
  height: 100%;
  .controlCenter_right_top {
    .controlCenter_right_top_top {
      .controlCenter_right_top_top_item {
        width: calc(25% - 18px);
        height: 200px;
        margin: 0 0 18px 18px;
        border-radius: 5px;
        border: 1px solid #32f7ff;
        background: rgba(50, 247, 255, 0.1);
        cursor: pointer;
        img {
          border-radius: 5px;
        }
        .absolute {
          bottom: 0;
          left: 0;
          height: 72px;
          background: url('../../assets/images/ccmb.png') no-repeat;
          background-size: 100% 100%;
          color: #fff;
          p {
            font-size: 14px;
            margin: 10px 0 0 10px;
            > span {
              margin-right: 10px;
            }
          }
          i {
            color: #32f7ff;
          }
          em {
            font-size: 12px;
            color: #32f7ff;
          }
        }
      }
    }
  }
  .controlCenter_right_bot {
    height: calc(100% - 480px);
    margin-top: 12px;
    .controlCenter_right_botbox {
      margin-left: 20px;
      width: calc(33.3% - 20px);
      .leftchart {
        height: 100%;
        // width: 100%;
        width: calc(100% - 150px);
      }
      .rightleng {
        height: 100%;
        width: 150px;
        padding: 10px 0 20px 15px;
        border-left: 1px solid;
        border-image: linear-gradient(to bottom, rgba(19, 128, 255, 0) 0%, rgba(45, 170, 176, 1), 70%, rgba(19, 128, 255, 0) 100%) 1 1;
        p {
          i {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
          }
          span {
            font-size: 14px;
            color: #32f7ff;
            width: 60px;
            display: inline-block;
            margin: 0 10px;
          }
          em {
            font-size: 18px;
            color: #32f7ff;
          }
        }
      }
    }
  }
}
</style>
