<template>
  <div class="wh100 flex flex-jb">
    <div class="integrated_left box">
      <p class="box_title box-bg-mini">统计信息</p>
      <div class="box_main oauto">
        <LeftInfo :data="state.statInfo"></LeftInfo>
      </div>
    </div>
    <div class="integrated_center">
      <CenterTopInfo :data="state.centerList"></CenterTopInfo>
      <!-- <div class="integrated_center_top flex flex-ja flex-ac textcenter">
        <div class="integrated_center_top_item pointer" v-for="(item, index) in state.centerList" @click="pushHandler(item.path)">
          <p>
            <span>{{ item.value }}</span
            ><i>{{ item.unit }}</i>
          </p>
          <p>{{ item.name }}</p>
        </div>
      </div> -->
      <div class="integrated_center_center">
        <Map :data="state.allStations" @mapClickHandler="mapClickHandler"></Map>
      </div>
      <div class="integrated_center_bottom flex flex-jc">
        <div class="integrated_center_bottom_item left_item">
          <span class="succspan"></span>
          <span class="namespan">正常采集</span>
          <span class="valuespan">{{ state.statInfo.communicationNormalNum }}</span>
        </div>
        <div class="integrated_center_bottom_item right_item">
          <span class="errorspan"></span>
          <span class="namespan">通讯异常</span>
          <span class="valuespan">{{ state.statInfo.communicationAbnormalNum }}</span>
        </div>
      </div>
    </div>
    <div class="integrated_right">
      <div class="box integrated_right_top">
        <p class="box_title box-bg-small">站点状态</p>
        <div class="box_main">
          <PieChart :data="state.pieChartData"></PieChart>
        </div>
      </div>
      <div class="box integrated_right_bottom">
        <p class="box_title box-bg-small">报警信息</p>
        <div class="box_main">
          <Table :data="state.alarmList" :total="state.total" @currentChange="tableCurrentChange"></Table>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted, onUnmounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'
import { getAllStations, getComprehensiveInfo, getAlalarmTypeChart, getStationStatusChart, getPointAlarmHistorys } from '@/http/api'

import Map from '@/components/echarts/map.vue'
import PieChart from '@/components/echarts/pieChart.vue'
import LeftInfo from './components/leftInfo.vue'
import Table from './components/table.vue'
import CenterTopInfo from './components/centerTopInfo.vue'

const router = useRouter()
const route = useRoute()
const state = reactive({
  centerList: [],
  statInfo: {},
  pieChartData: [],
  alarmList: [],
  total: 0,
  pageNum: 1,
  alarmTypeChart: []
})
watchEffect(() => {
  state.centerList = [
    { name: '接入站点数', value: state.statInfo.stationNum, unit: '个', path: '/index/controlCenter' },
    { name: '总装机量', value: state.statInfo.installedCapacity, unit: 'kwh', path: '/fileManage/enterpriseArchives' },
    { name: '接入企业数', value: state.statInfo.companyNum, unit: '个', path: '/fileManage/enterpriseArchives' },
    { name: '接入逆变电器数量数', value: state.statInfo.inverterNum, unit: '个', path: '/realTimeMonitor/inverter/overview' },
    { name: '系统安全运行天数', value: state.statInfo.safeOperationDays, unit: '天' }
  ]
})
// 统计信息
getComprehensiveInfoH()
// 站点状态
getStationStatusChartH()
// 所有站点
getAllStationsHandler()

// 报警信息
getPointAlarmHistorysHandler()
let interval = setInterval(() => {
  getStationStatusChartH()
  getComprehensiveInfoH()
  getPointAlarmHistorysHandler()
}, 5000)

onMounted(() => {})
onUnmounted(() => {
  clearInterval(interval)
})

function getComprehensiveInfoH() {
  getComprehensiveInfo().then(res => {
    state.statInfo = res.data
  })
}
function tableCurrentChange(val) {
  state.pageNum = val
  getPointAlarmHistorysHandler()
}

function getPointAlarmHistorysHandler() {
  getPointAlarmHistorys({ pageNum: state.pageNum, pageSize: 10 }).then(res => {
    state.alarmList = res.data.list
    state.total = res.data.total
  })
}

function getStationStatusChartH() {
  getStationStatusChart().then(res => {
    state.pieChartData = res.data
    console.log(res.data, '========')
  })
}
function pushHandler(path) {
  router.push({ path })
}
function getAllStationsHandler() {
  getAllStations().then(res => {
    let data = res.data
    data.forEach(item => {
      item.value = [item.longitude, item.latitude, item.address, item.currentPower]
    })
    state.allStations = data
  })
}
function mapClickHandler(e) {
  if (e.componentSubType == 'scatter') {
    console.log(e, '0-0-0---')
    router.push({ path: '/index/siteOverview', query: { id: e.data.id } })
  }
}
</script>
<style lang="less" scoped>
.integrated_left {
  width: 330px;
  height: 100%;
}
.integrated_right {
  width: 440px;
  height: 100%;
  .integrated_right_top {
    width: 100%;
    height: calc(50% - 10px);
    margin-bottom: 10px;
  }
  .integrated_right_bottom {
    width: 100%;
    height: 50%;
  }
}
.integrated_center {
  width: calc(100% - 770px);
  background: url('../../assets/images/indexbg.png') no-repeat;
  background-size: 100% 100%;

  .integrated_center_center {
    width: 100%;
    height: calc(100% - 180px);
    background: url('../../assets/images/centerquan.png') no-repeat center;
    background-size: 95% 100%;
  }
  .integrated_center_bottom {
    width: 100%;
    .integrated_center_bottom_item {
      .succspan,
      .errorspan {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background: #4feecc;
      }
      .errorspan {
        background: #e52e44;
        margin-left: 100px;
      }
      .namespan {
        margin: 0 15px;
        font-size: 16px;
      }
      .valuespan {
        font-size: 18px;
        color: #1de6ff;
      }
    }
    .left_item {
      .namespan {
        color: #4feecc;
      }
    }
    .right_item {
      .namespan {
        color: #e52e44;
      }
    }
  }
}
</style>
