<template>
  <div id="sidebar" :class="{ borderImage: true, width300: state.isExpend, width72: !state.isExpend }">
    <div class="sider_header flex flex-ac flex-jb">
      <div class="textShadow ohidden nowrap F14 cfff FB" v-show="state.isExpend">系统导航</div>
      <img @click="expendHandler" :class="state.isExpend ? 'expand_img' : 'shrink_img'" src="../../assets/images/navICON/aside_expand.png" alt="" />
    </div>
    <div class="sider_main">
      <div class="firstSider" v-for="(item, index) in state.routes" @click="firstSiderHandler(item)">
        <div class="firstSideritem relative flex flex-ac pointer" :class="{ firstSideritemactive: state.curouter && state.curouter.path.includes(item.path) }" @click="clickHandler(item, index)">
          <!-- 二三级弹框 -->
          <el-popover :disabled="!(item.children && item.children.length > 0 && !state.isExpend)" popper-class="navPopover" ref="popoverRef" placement="right" trigger="hover">
            <template #reference>
              <div :class="{ leftIcon: state.isExpend, absolute: true, leftIconMin: !state.isExpend }">
                <img :src="state.picters[item.name]" alt="" />
              </div>
            </template>
            <template #default>
              <div class="popSecond">
                <div v-for="(ch, ci) in item.children" class="popSecond_item">
                  <el-popover :disabled="!(ch.children && ch.children.length > 0)" popper-class="navPopover" ref="popoverRef" placement="right" trigger="hover">
                    <template #reference>
                      <div class="wh100" @click="firstSiderHandler(ch)">
                        {{ ch.meta.title }}
                      </div>
                    </template>
                    <template #default>
                      <div v-for="(m, n) in ch.children" class="popthrid_item" @click="pushHandler(m)">
                        {{ m.meta.title }}
                      </div>
                    </template>
                  </el-popover>
                </div>
              </div>
            </template>
          </el-popover>

          <div v-show="state.isShowText" class="rightText absolute flex flex-ac flex-jb">
            <span class="firstSider_title F14 FB">{{ item.meta.title }}</span>
            <el-icon v-show="item.children && item.children.length > 0" style="transition: all 0.5s" :class="{ arrowIcon: state.arrowIcon[index] }"><caret-bottom /></el-icon>
          </div>
        </div>
        <!-- 二三级 -->
        <div v-show="state.isShowText" :style="secheight(item)" :class="{ secondSider: true, secondsiderhidden: state.arrowIcon[index] }">
          <div v-for="(ch, ci) in item.children" class="secondSider_item_TH">
            <div v-if="ch.children && ch.children.length > 0" class="secondSider_item_TH_title FB">{{ ch.meta.title }}</div>
            <div v-else :class="{ secondSider_item: true, pointer: true, secondActive: state.curouter && state.curouter.path == ch.path }" @click="pushHandler(ch)">{{ ch.meta.title }}</div>
            <div class="secondSider_item_TH_main flex flex-wrap flex-ac">
              <span v-for="(m, n) in ch.children" :class="{ pointer: true, thirdHover: true, thirdActive: state.curouter && state.curouter.path == m.path }" @click="pushHandler(m)">
                <span class="thirdtext FB textoverflow">
                  {{ m.meta.title }}
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { reactive, onMounted, watchEffect } from 'vue-demi'
import { useRouter, useRoute, onBeforeRouteUpdate } from 'vue-router'
import { selfAdaption } from '@/utils/utils'
const router = useRouter()
const route = useRoute()

const picter = require.context('../../assets/images/navICON', true, /\.png/)
const state = reactive({
  isExpend: false,
  arrowIcon: [],
  isShowText: false,
  routes: [],
  picters: [],
  curouter: sessionStorage.getItem('GF_curouter') ? JSON.parse(sessionStorage.getItem('GF_curouter')) : { path: '/index/integrated' }
})

picter.keys().forEach(key => {
  let config = picter(key)
  let k = key.match(/\/(\S*)\.png/)
  if (k && k.length > 1) {
    let name = 'G-' + k[1]
    state.picters[k[1]] = config.default || config
  }
})

watchEffect(() => {
  state.curouter = route
})

let routes = router.options.routes[1].children

routes?.forEach((item, index) => {
  let num = 0
  if (state.curouter && state.curouter.path.includes(item.path)) {
    state.arrowIcon.push(false)
  } else {
    state.arrowIcon.push(true)
  }
  if (item.children) {
    num = item.children.length
    item.children.forEach(m => {
      if (m.children) {
        num += parseInt(m.children.length / 3 + '')
      }
    })
  }
  item.height = num
})

state.routes = routes

onMounted(() => {})
function firstSiderHandler(params) {
  if (!params.children) {
    pushHandler(params)
  }
}
function pushHandler(param) {
  let { path } = param
  router.push({ path })
}
function secheight(item) {
  let height = selfAdaption(item.height * 40)
  return 'height:' + height + 'px'
}
function expendHandler() {
  state.isExpend = !state.isExpend
  //   state.arrowIcon = []
  //   state.routes.forEach(() => {
  //     state.arrowIcon.push(true)
  //   })
  let time = state.isExpend ? 500 : 300
  setTimeout(() => {
    state.isShowText = !state.isShowText
  }, time)
}
function clickHandler(item, index) {
  let bol = state.arrowIcon[index]
  if (item.children) {
    state.arrowIcon = []
    state.routes.forEach((t, i) => {
      state.arrowIcon.push(i == index ? bol : true)
    })
    state.arrowIcon[index] = !state.arrowIcon[index]
  }
}
</script>
<style lang="less">
:root {
  --height: 36px;
}
#sidebar {
  color: #c0f8ff;
  //   overflow-y: auto;
  padding: 10px 8px 10px 18px;
  height: 100%;
  border-right: 2px solid;
  transition: all 1s;
  .sider_header {
    margin: 10px 0;
    position: relative;
    height: 36px;
    text-align: center;
    img {
      position: absolute;
      right: 0;
      transition: all 1s;
      transform: rotate(180deg);
      width: 36px;
      height: 36px;
    }
    .expand_img {
      cursor: pointer;
      transform: rotateY(0deg);
    }
    .shrink_img {
      cursor: pointer;
      transform: rotateY(180deg);
      right: auto;
    }
  }
  .sider_main {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;

    .firstSider {
      width: 100%;
      height: auto;
      //   background: url('../../assets/images/navICON/navbg.png') no-repeat;
      //   background-size: 100%;
      margin-bottom: 15px;
      > div {
        width: 100%;
      }
      .firstSideritem {
        height: var(--height);
      }
      .leftIcon {
        width: 60px;
        height: 100%;
        left: 0;
        padding-left: 5px;
        top: 0;
        transition: all 0.5s;
        background: url('../../assets/images/navICON/navbg-left-normal.png');
        background-repeat: no-repeat;
        background-size: 90% 99%;
        img {
          height: 100%;
        }
      }
      .rightText {
        background: url('../../assets/images/navICON/navbg-right-normal.png');
        background-repeat: no-repeat;
        background-size: 100% 99%;
        width: 84%;
        // flex: 1;
        // width: 220px;
        height: 100%;
        right: 0;
        top: 0;
        padding: 0 20px;
        .firstSider_title {
          //   text-stroke: 1px #c0f8ff;
          //   -webkit-text-stroke: 1px #c0f8ff;
        }
        .arrowIcon {
          transform: rotate(180deg);
        }
      }
      .firstSideritem:hover,
      .firstSideritemactive {
        .leftIcon {
          background: url('../../assets/images/navICON/navbg-left.png');
          background-repeat: no-repeat;
          background-size: 90% 99%;
        }
        .rightText {
          background: url('../../assets/images/navICON/navbg-right.png');
          background-repeat: no-repeat;
          background-size: 100% 99%;
        }
        .leftIconMin {
          background: url('../../assets/images/navICON/navbg-left-min.png');
          background-repeat: no-repeat;
          background-size: 99%;
        }
      }
      .leftIconMin {
        width: 36px;
        height: 100%;
        left: 0;
        top: 0;
        transition: all 0.5s;
        background: url('../../assets/images/navICON/navbg-left-normal-min.png');
        background-repeat: no-repeat;
        background-size: 99%;
        img {
          height: 100%;
        }
      }

      .secondSider {
        width: 100%;
        height: auto;
        transition: all 0.8s;
        top: var(--height);
        left: 0;
        overflow: hidden;
        padding-right: 10px;
        // border-bottom: 2px solid #0e5358;
        .secondSider_item {
          width: 100%;
          padding-left: 10px;
          height: var(--height);
          line-height: var(--height);
          //   border-top: 1px solid #083a39;
          border-bottom: 1px solid #083a39;
          font-weight: bold;
        }
        .secondSider_item:hover,
        .secondActive {
          background: linear-gradient(90deg, rgba(100, 252, 255, 0.3) 0%, rgba(100, 252, 255, 0.33) 10%, rgba(100, 252, 255, 0.26) 45%, rgba(100, 252, 255, 0.01) 100%);
        }
        .thirdtext {
          line-height: normal;
          width: auto !important;
          padding: 1px;
        }
        .thirdHover:hover .thirdtext {
          color: #5af4ff;
          font-weight: bold;
          background: radial-gradient(farthest-corner at center bottom, rgba(50, 247, 255, 0.5), rgba(97, 252, 255, 0.1), rgba(50, 247, 255, 0));
          border-bottom: 2px solid;
          border-image: -webkit-linear-gradient(to right, rgba(45, 170, 176, 0.2), rgba(45, 170, 176, 1) 50%, rgba(45, 170, 176, 0.2)) 2 2;
          border-image: -moz-linear-gradient(to right, rgba(45, 170, 176, 0.2), rgba(45, 170, 176, 1) 50%, rgba(45, 170, 176, 0.2)) 2 2;
          border-image: -o-linear-gradient(to right, rgba(45, 170, 176, 0.2), rgba(45, 170, 176, 1) 50%, rgba(45, 170, 176, 0.2)) 2 2;
          border-image: linear-gradient(to right, rgba(45, 170, 176, 0.2), rgba(45, 170, 176, 1) 40%, rgba(45, 170, 176, 0.2) 80%) 2 2;
        }
        .thirdActive .thirdtext {
          color: #5af4ff;
          font-weight: bold;
          background: radial-gradient(farthest-corner at center bottom, rgba(50, 247, 255, 0.5), rgba(97, 252, 255, 0.1), rgba(50, 247, 255, 0));
          border-bottom: 2px solid;
          border-image: -webkit-linear-gradient(to right, rgba(45, 170, 176, 0.2), rgba(45, 170, 176, 1) 50%, rgba(45, 170, 176, 0.2)) 2 2;
          border-image: -moz-linear-gradient(to right, rgba(45, 170, 176, 0.2), rgba(45, 170, 176, 1) 50%, rgba(45, 170, 176, 0.2)) 2 2;
          border-image: -o-linear-gradient(to right, rgba(45, 170, 176, 0.2), rgba(45, 170, 176, 1) 50%, rgba(45, 170, 176, 0.2)) 2 2;
          border-image: linear-gradient(to right, rgba(45, 170, 176, 0.2), rgba(45, 170, 176, 1) 50%, rgba(45, 170, 176, 0.2)) 2 2;
        }
        .secondSider_item_TH {
          width: 100%;
          line-height: var(--height);
          margin: 2px 0;
          //   padding-left: 10px;
          .secondSider_item_TH_title {
            // border: 1px solid #083a39;
            border-left: 0;
            border-right: 0;
            padding-left: 10px;
          }
          .secondSider_item_TH_main {
            padding-left: 10px;
            > span {
              display: inline-block;
              width: 75px;
            }
          }
        }
      }
      .secondsiderhidden {
        // width: 0;
        height: 0 !important;
        transition: all 0.8s;
        border-bottom-color: transparent;
      }
    }
  }
}
.width300 {
  width: 300px;
}
.width72 {
  width: 72px;
}
.navPopover.el-popover.el-popper {
  background: #022a29;
  padding: 0;
  border-radius: 5px;
  color: #c0f8ff;
  border: 0;
  .popSecond {
    border: 1px solid #40b2b3;
    border-radius: 3px;
    .popSecond_item {
      height: 36px;
      text-align: center;
      line-height: 36px;
      border-bottom: 1px solid #083a39;
      cursor: pointer;
    }
  }
  .popthrid_item {
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-bottom: 1px solid #083a39;
    cursor: pointer;
  }

  .popSecond_item:hover,
  .popthrid_item:hover {
    background: linear-gradient(90deg, rgba(100, 252, 255, 0) 0%, rgba(100, 252, 255, 0.4) 45%, rgba(100, 252, 255, 0) 100%);
  }

  .el-popper__arrow::before {
    border-bottom: 1px solid #40b2b3;
    border-left: 1px solid #40b2b3;
    background: #022a29;
  }
}
</style>
