<template>
  <div class="wh100">
    <div class="flex flex-ac flex-jb">
      <span class="pageTitle"> 负荷统计 </span>
      <div>
        <el-date-picker size="mini" popper-class="datePicker_propper" v-model="state.queryTime" type="date" placeholder="请选择日期" clearable></el-date-picker>
        <G-button class="ml15" size="small" @click="searchHandler">查询</G-button>
        <G-button class="ml15" size="small">导出</G-button>
      </div>
    </div>
    <div class="Share_Main w100 flex">
      <G-tree ref="gRef" @node-click="nodeClick" :data="state.treeData" @expendHandler="state.isExpend = $event"></G-tree>

      <div :class="{ LS_main_main: true, treeTSN: true, treeWidth: state.isExpend, w100: !state.isExpend }">
        <G-tab @change="tabChange" :data="state.tabdata"></G-tab>
        <div class="w100 LS_mm_main oauto">
          <div class="box" v-for="(item, index) in state.reportData" :key="index + 9088">
            <p class="box_title box-bg-large-oth">{{ item.companyName }}{{ state.datetab }}报表</p>
            <div class="box_main">
              <div class="LS_item_top h100 cfff flex flex-ac">
                <!-- <el-table  size="small"class="wh100" height="100%" :data="state.tableData">
                  <el-table-column align="center" prop="name" label="电站名称">
                    <template v-slot="scope">
                      <span>装机容量</span>
                    </template>
                  </el-table-column>
                  <el-table-column v-for="(tci, tcd) in [1, 1, 1, 1, 1, 1]" align="center" prop="name" label="xxx光伏站" />
                </el-table> -->
                <div class="LS_item_topleft h100">
                  <p>电表名称</p>
                  <p>用电负荷</p>
                </div>
                <div class="LS_item_topright h100 oauto nowrap">
                  <div v-for="(m, n) in item.equipmentList" class="h100 inlineblock" :key="n + 787">
                    <p style="background: rgba(255, 255, 255, 0.05)">{{ m.equipmentName }}</p>
                    <p>{{ m.load }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'

import { getEqmTree, getLoadStatReport } from '@/http/api'
import { ElMessage } from 'element-plus'
import { dateFormat, cgDateTime, getWeekDate } from '@/utils/utils'

const router = useRouter()
const route = useRoute()
const state = reactive({
  isExpend: true,
  tabdata: [
    { name: '年统计', id: 'y' },
    { name: '月统计', id: 'm' },
    { name: '日统计', id: 'd' }
  ],
  tableData: [1, 2, 3],
  treeData: [],
  stationsList: [],
  tabValue: 'y',
  reportData: [],
  queryTime: '',
  datetab: '年统计',
  companyId: '',
  stationId: ''
})
getEqmTreeHandler()
onMounted(() => {
  asyncheight()
})

function getLoadStatReportHandler() {
  let queryTime = state.queryTime == '' ? '' : dateFormat(state.queryTime)
  let params = {
    companyId: state.companyId,
    stationId: state.stationId,
    queryTime,
    statType: state.tabValue
  }
  for (const key in params) {
    if (params[key] == '') {
      delete params[key]
    }
  }
  getLoadStatReport(params).then(res => {
    state.reportData = res.data ? res.data.list : []
  })
}

function tabChange(val) {
  state.tabdata.forEach(item => {
    if (item.id == val) {
      state.datetab = item.name
    }
  })

  state.tabValue = val
  getLoadStatReportHandler()
}

function nodeClick(value) {
  if (value.level == 100) {
    state.companyId = value.realPid
    state.stationId = value.realId
  } else if (value.level == 10) {
    state.companyId = value.realId
    state.stationId = ''
  } else {
    state.companyId = ''
    state.stationId = ''
  }
  //   getLoadStatReportHandler()
}

function getEqmTreeHandler() {
  getEqmTree({ level: 100 }).then(res => {
    forTreeData(res.data, 0)
    state.treeData = res.data
    nextTick(() => {
      //   gRef.value.setCurrentKey(state.stationsList[0].realId)
      //   state.companyId = state.stationsList[0].realPid
      //   state.stationId = state.stationsList[0].realId
      getLoadStatReportHandler()
    })
  })
}
function forTreeData(arr, id) {
  arr.forEach(item => {
    if (item.level == 100) {
      state.stationsList.push(item)
    }
    item.realPid = id
    if (item.children) {
      forTreeData(item.children, item.realId)
    }
  })
}
function searchHandler() {
  if (state.queryTime == '') {
    ElMessage({
      message: '请选择查询日期',
      type: 'warning'
    })
  } else {
    getLoadStatReportHandler()
  }
}
function asyncheight() {
  nextTick(() => {
    let PT = document.querySelectorAll('.LS_item_topright')
    for (let i = 0; i < PT.length; i++) {
      console.log(PT[i].offsetHeight, PT[i].children[0].offsetHeight, '9999')
      if (PT[i].offsetHeight > PT[i].children[0].offsetHeight + 2) {
        PT[i].previousElementSibling.classList.add('paddb6')
      } else {
        PT[i].previousElementSibling.classList.remove('paddb6')
      }
    }
  })
}
</script>
<style lang="less" scoped>
.LS_main_main {
  // width: calc(100% - 255px);
  height: 100%;
  .LS_mm_main {
    height: calc(100% - 52px);
    .box {
      height: calc(33.3% - 20px);
      margin-top: 20px;
      .LS_item_top {
        padding: 20px;
        .LS_item_topleft {
          border: 1px solid #103a36;
          border-right: 0;
          // border-bottom: 0;
          width: 180px;
          background: rgba(255, 255, 255, 0.05);
          p {
            border: 1px solid rgba(16, 58, 54, 0.8);
          }
        }
        .paddb6 {
          padding-bottom: 6px;
        }
        .LS_item_topright {
          width: calc(100% - 180px);
          border: 1px solid #103a36;
          border-left: 0;
          // border-bottom: 0;
          > div {
            min-width: 180px;
            max-width: 100%;
          }
        }
        p {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50%;
          border: 1px solid #103a36;
          text-align: center;
        }
      }
      .LS_item_bot {
        padding: 0 20px;
        .lllll {
          span {
            font-size: 12px;
            color: #fff;
            margin-right: 20px;
            i {
              color: rgba(50, 247, 255, 1);
              font-size: 22px;
              margin: 0 5px;
            }
            em {
              font-size: 12px;
              color: rgba(50, 247, 255, 0.7);
            }
          }
        }
      }
    }
  }
}
</style>
