<template>
  <div class="wh100">
    <div class="flex flex-ac flex-jb">
      <span class="pageTitle"> 站点日统计 </span>
      <div>
        <el-date-picker size="mini" popper-class="datePicker_propper" v-model="state.queryTime" type="date" placeholder="请选择日期"></el-date-picker>
        <G-button class="ml15" size="small" @click="searchHandler">查询</G-button>
        <G-button class="ml15" size="small">导出</G-button>
      </div>
    </div>
    <div class="Share_Main w100 flex">
      <G-tree ref="gRef" @node-click="nodeClick" :data="state.treeData" @expendHandler="state.isExpend = $event"></G-tree>

      <div :class="{ box: true, SD_main_right: true, treeTSN: true, treeWidth: state.isExpend, w100: !state.isExpend }">
        <div class="box_title box-bg-large-oth flex flex-ac">
          <span>{{ pageTitle }}</span>
          <div class="toptitle_h_c flex flex-ac">
            <div @click="leftHandler">
              <img src="../../assets/images/arrow_left.png" alt="" />
            </div>
            <div @click="rightHandler">
              <img src="../../assets/images/arrow_right.png" alt="" />
            </div>
          </div>
        </div>
        <div class="box_main">
          <div class="tableWrap">
            <el-table size="small" class="w100" height="100%" :span-method="spanMethod" :data="state.tableTemData" :cell-style="cellStyle" border>
              <!-- <el-table-column align="center" prop="companyName" label="" /> -->
              <el-table-column show-overflow-tooltip align="center" prop="stationName" label="" />
              <el-table-column show-overflow-tooltip align="center" prop="equipmentName" label="时间" />
              <el-table-column show-overflow-tooltip align="center" prop="pointName" label="" />
              <el-table-column show-overflow-tooltip align="center" :prop="item" :label="item" v-for="item in state.tableHead" />
            </el-table>
          </div>
          <G-pagination :pageSize="state.pageSize" @sizeChange="sizeChange" @currentChange="currentChange" class="pagination" :total="state.total"></G-pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'
import { getEqmTree, getDailyStatReport } from '@/http/api'
import { ElMessage } from 'element-plus'
import { dateFormat, cgDateTime, getWeekDate } from '@/utils/utils'
const gRef = ref(null)
const state = reactive({
  isExpend: true,
  //   tableData: [
  //     { name: '集控中心', name2: '器器器1', name3: '电压A', name4: '8:00', name5: '1111', rowspan_0: 12, rowspan_1: 4 },
  //     { name: '集控中心', name2: '器器器1', name3: '电压B', name4: '8:00', name5: '1111', rowspan_0: 0, rowspan_1: 0, rowspan_2: 1 },
  //     { name: '集控中心', name2: '器器器1', name3: '电压C', name4: '8:00', name5: '1111', rowspan_0: 0, rowspan_1: 0, rowspan_2: 1 },
  //     { name: '集控中心', name2: '器器器1', name3: '电压D', name4: '8:00', name5: '1111', rowspan_0: 0, rowspan_1: 0, rowspan_2: 1 },
  //     { name: '集控中心', name2: '器器器2', name3: '电压E', name4: '8:00', name5: '1111', rowspan_0: 0, rowspan_1: 2, rowspan_2: 1 },
  //     { name: '集控中心', name2: '器器器2', name3: '电压F', name4: '8:00', name5: '1111', rowspan_0: 0, rowspan_1: 0, rowspan_2: 1 },
  //     { name: '集控中心', name2: '器器器3', name3: '电压G', name4: '8:00', name5: '1111', rowspan_0: 0, rowspan_1: 3, rowspan_2: 1 },
  //     { name: '集控中心', name2: '器器器3', name3: '电压H', name4: '8:00', name5: '1111', rowspan_0: 0, rowspan_1: 0, rowspan_2: 1 },
  //     { name: '集控中心', name2: '器器器3', name3: '电压I', name4: '8:00', name5: '1111', rowspan_0: 0, rowspan_1: 0, rowspan_2: 2 },
  //     { name: '集控中心', name2: '器器器4', name3: '电压J', name4: '8:00', name5: '1111', rowspan_0: 0, rowspan_1: 2, rowspan_2: 0 },
  //     { name: '集控中心', name2: '器器器4', name3: '电压K', name4: '8:00', name5: '1111', rowspan_0: 0, rowspan_1: 0, rowspan_2: 1 },
  //     { name: '集控中心', name2: '合计', name3: '合计日发电量', name4: '99999' }
  //   ],
  //   treeData: [
  //     {
  //       name: '集控中心',
  //       children: [
  //         {
  //           name2: '时间',
  //           children: [{ name3: '', name4: '8:00', name5: '1111' }]
  //         },
  //         {
  //           name2: '器器器1',
  //           children: [
  //             { name3: '电压A', name4: '8:00', name5: '1111' },
  //             { name3: '电压B', name4: '8:00', name5: '1111' }
  //           ]
  //         },
  //         {
  //           name2: '器器器2',
  //           children: [
  //             { name3: '电压A', name4: '8:00', name5: '1111' },
  //             { name3: '电压B', name4: '8:00', name5: '1111' }
  //           ]
  //         },
  //         {
  //           name2: '器器器3',
  //           children: [
  //             {
  //               name3: '电压A',
  //               children: [
  //                 { name4: '8:00', name5: '1111' },
  //                 { name4: '8:00', name5: '1111' }
  //               ]
  //             },
  //             {
  //               name3: '电压B',
  //               children: [
  //                 { name4: '8:00', name5: '1111' },
  //                 { name4: '8:00', name5: '1111' }
  //               ]
  //             },
  //             { name3: '电压C', name4: '8:00', name5: '1111' }
  //           ]
  //         },
  //         {
  //           name2: '器器器4',
  //           children: [
  //             { name3: '电压A', name4: '8:00', name5: '1111' },
  //             { name3: '电压B', name4: '8:00', name5: '1111' },
  //             { name3: '电压B', name4: '8:00', name5: '1111' }
  //           ]
  //         }
  //       ]
  //     }
  //   ],
  count: 0,
  tableTemData: [],
  maxArr: [],
  treeData: [],
  companyId: '',
  stationId: '',
  queryTime: new Date(),
  stationsList: [],
  InterVariable: ['equipments', 'points', 'wholePointData'],
  tableHead: [],
  total: 0,
  pageNum: 1,
  pageSize: 10,
  currIndex: 0
})
getEqmTreeHandler()

const pageTitle = computed(() => {
  let time = dateFormat(state.queryTime)
  return `${state.treeName}日报表(${time})`
})

watch(
  () => state.currIndex,
  val => {
    console.log(state.stationsList, 'state.stationsList')
    state.stationsList.forEach(item => {
      if (val == item.realId) {
        gRef.value.setCurrentKey(item.realId)
        nodeClick(item)
      }
    })
  }
)

function leftHandler() {
  if (state.currIndex <= 0) {
    state.currIndex = 0
  } else {
    state.currIndex -= 1
  }
}
function rightHandler() {
  if (state.currIndex >= state.stationsList.length - 1) {
    state.currIndex = state.stationsList.length - 1
  } else {
    state.currIndex += 1
  }
}

function tree_To_table(arr, num) {
  arr.forEach((item, index) => {
    state.count = 0
    if (item.children) {
      getnum(item.children)
      item['rowspan_' + num] = state.count
      let itemVar = JSON.parse(JSON.stringify(item))
      delete itemVar.children
      item.children.forEach((m, n) => {
        if (n != 0) {
          for (let o = 0; o <= num; o++) {
            itemVar['rowspan_' + o] = 0
          }
        }
        Object.assign(m, itemVar)
      })
      tree_To_table(item.children, num + 1)
    } else {
      item['rowspan_' + num] = 1
      state.maxArr.push(num)
      state.tableTemData.push(item)
    }
  })
}

function getnum(arr) {
  arr.forEach((item, index) => {
    if (item.children) {
      getnum(item.children)
    } else {
      state.count += 1
    }
  })
}

const spanMethod = ({ row, column, rowIndex, columnIndex }) => {
  let index = state.tableTemData.indexOf(row)
  if (columnIndex <= Math.max(...state.maxArr) - 1) {
    let rowspan = row['rowspan_' + columnIndex]
    // if (rowIndex == 0 && columnIndex == 0) {
    //   rowspan = state.tableTemData.length
    // }
    return {
      rowspan,
      colspan: rowspan == 0 ? 0 : 1
    }
  }
  return {
    rowspan: 1,
    colspan: 1
  }
}
function cellStyle({ row, column, rowIndex, columnIndex }) {
  if (columnIndex <= Math.max(...state.maxArr) - 1) {
    return 'background:rgba(50, 247, 255, 0.06)'
  }
}
function getEqmTreeHandler() {
  getEqmTree({ level: 100 }).then(res => {
    forTreeData(res.data, 0)
    state.treeData = res.data
    nextTick(() => {
      //   gRef.value.setCurrentKey(state.stationsList[0].realId)
      //   state.companyId = state.stationsList[0].realPid
      //   state.stationId = state.stationsList[0].realId
      state.treeName = state.treeData[0].name
      getDailyStatReportHandler()
    })
  })
}
function forTreeData(arr, id) {
  arr.forEach(item => {
    if (item.level == 100) {
      state.stationsList.push(item)
    }
    item.realPid = id
    if (item.children) {
      forTreeData(item.children, item.realId)
    }
  })
}
function searchHandler() {
  if (state.queryTime == '') {
    ElMessage({
      message: '请选择查询日期',
      type: 'warning'
    })
  } else {
    getDailyStatReportHandler()
  }
}
function sizeChange(val) {
  state.pageSize = val
  getDailyStatReportHandler()
}
function currentChange(val) {
  state.pageNum = val
  getDailyStatReportHandler()
}
function getDailyStatReportHandler() {
  state.tableTemData = []
  let queryTime = state.queryTime == '' ? '' : dateFormat(state.queryTime)
  let params = {
    companyId: state.companyId,
    stationId: state.stationId,
    queryTime,
    pageNum: state.pageNum,
    pageSize: state.pageSize
  }
  for (const key in params) {
    if (params[key] == '') {
      delete params[key]
    }
  }
  getDailyStatReport(params).then(res => {
    let data = res.data ? res.data.list : []
    state.total = res.data ? res.data.total : 0
    feFunc(data)
    tree_To_table(data, 0)
  })
}
function feFunc(data, fontKey, fontItem) {
  let arr = {}
  data.forEach((item, index) => {
    if (fontKey == 'wholePointData') {
      item[item.hh] = item.value
      if (state.tableHead.indexOf(item.hh) == -1) {
        state.tableHead.push(item.hh)
      }
      delete item.value
      delete item.hh
      arr = Object.assign(arr, item)
    }

    for (const key in item) {
      if (state.InterVariable.indexOf(key) >= 0) {
        if (item[key] && item[key].length > 0) {
          item.children = JSON.parse(JSON.stringify(item[key]))
          delete item[key]
          feFunc(item.children, key, item)
        }
      }
    }
  })

  if (fontKey == 'wholePointData') {
    fontItem.children = []
    fontItem.children = [arr]
  }
}
function nodeClick(value) {
  if (value.level == 100) {
    state.companyId = value.realPid
    state.stationId = value.realId
  } else if (value.level == 10) {
    state.companyId = value.realId
    state.stationId = ''
  } else {
    state.companyId = ''
    state.stationId = ''
  }
  state.treeName = value.name
  getDailyStatReportHandler()
}

onMounted(() => {})
</script>
<style lang="less" scoped>
.SD_main {
  height: calc(100% - 51px);
  margin-top: 20px;
  .SD_tree {
    width: 255px;
  }
  .SD_main_right {
    width: calc(100% - 275px);
    margin-left: 20px;
    padding: 20px 20px 0;
  }
}
.tableWrap {
  width: 100%;
  height: calc(100% - 55px);
  padding: 20px;
}
.pagination {
  margin: 10px;
}
.toptitle_h_c {
  margin-left: 30px;
  > div {
    padding: 0 10px;
  }
  img {
    width: 8px;
    cursor: pointer;
  }
  margin-right: 90px;
}
</style>
