<template>
  <div class="shareBox" style="background: rgb(1, 11, 10); overflow: auto">
    <G-datePicker></G-datePicker>
    <!-- <div class="ddd">
      <PieChart3D></PieChart3D>
    </div> -->
    <div class="eee">
      <CurveFill></CurveFill>
    </div>
    <div class="rrr">
      <DoubleHistogram></DoubleHistogram>
    </div>
    <div class="ttt">
      <Dashboard></Dashboard>
    </div>
    <div class="mmmmm">
      <Map></Map>
    </div>

    <div class="ppp">
      <PieChart></PieChart>
    </div>

    <G-pagination :total="1000"></G-pagination>
    <G-button>取消</G-button>

    <div class="textShadow">文字阴影</div>

    <ProcessSpan></ProcessSpan>

    <div class="eee">
      <Radarchart></Radarchart>
    </div>

    <el-select clearable suffix-icon="CaretTop" v-model="state.value" class="m-2" placeholder="请选择">
      <el-option v-for="item in state.options" :key="item.value" :label="item.label" :value="item.value"> </el-option>
    </el-select>

    <el-input v-model="state.value" placeholder="Please input" clearable />
  </div>
</template>
<script setup lang="ts">
import { inject, computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import Map from '@/components/echarts/map.vue'
// import PieChart3D from '@/components/Highcharts/3DPieChart.vue'
import CurveFill from '@/components/echarts/curveFill.vue'
import DoubleHistogram from '@/components/echarts/doubleHistogram.vue'
import Dashboard from '@/components/echarts/dashboard.vue'
import PieChart from '@/components/echarts/pieChart.vue'
import ProcessSpan from '@/components/other/processSpan.vue'
import Radarchart from '@/components/echarts/radarchart.vue'

const router = useRouter()
const route = useRoute()
const state = reactive<any>({
  value: '',
  options: [
    {
      value: 'Option1',
      label: 'Option1'
    },
    {
      value: 'Option2',
      label: 'Option2'
    },
    {
      value: 'Option3',
      label: 'Option3'
    },
    {
      value: 'Option4',
      label: 'Option4'
    },
    {
      value: 'Option5',
      label: 'Option5'
    }
  ]
})
onMounted(() => {})
</script>
<style lang="less" scoped>
div {
  font-size: 16px;
}
.ddd {
  width: 400px;
  height: 225px;
  display: inline-block;
}
.eee {
  width: 700px;
  height: 400px;
  margin: 10px;
  display: inline-block;
}
.ppp {
  width: 520px;
  height: 400px;
  margin: 10px;
  display: inline-block;
}
.rrr {
  width: 610px;
  height: 258px;
  margin: 10px;
  display: inline-block;
}
.ttt {
  width: 265px;
  height: 150px;
  display: inline-block;
}
.mmmmm {
  width: 100%;
  height: 100%;
  display: inline-block;
}
</style>
