<template>
  <div class="wh100 flex flex-ac flex-jc login_wrap">
    <div class="textcenter login">
      <div class="F24 FB title">新能源光伏智能运维系统</div>
      <div class="mt20 mb20">
        <el-form ref="ruleFormRef" :model="state.ruleForm" status-icon :rules="state.rules">
          <el-form-item prop="user">
            <el-input v-model="state.ruleForm.user" placeholder="">
              <template #prefix>
                <el-icon class="el-input__icon F18IM"><user /></el-icon>
              </template>
            </el-input>
          </el-form-item>
          <el-form-item prop="pwd">
            <el-input type="password" show-password v-model="state.ruleForm.pwd" placeholder="">
              <template #prefix>
                <el-icon class="el-input__icon F18IM"><lock /></el-icon>
              </template>
            </el-input>
          </el-form-item>
        </el-form>
      </div>
      <div class="flex flex-ja">
        <el-button class="w100" type="primary" @click="loginHandler">登录</el-button>
        <!-- <G-button>重置</G-button> -->
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import { layoutChildren } from '../../router/routes'

const router = useRouter()
const route = useRoute()

const ruleFormRef = ref(null)

const state = reactive({
  ruleForm: { user: 'admin', pwd: 'admin' },
  rules: {
    user: [{ required: true, message: '请输入用户名' }],
    pwd: [{ required: true, message: '请输入密码' }]
  }
})
onMounted(() => {
  // addRouteHandler(null, layoutChildren)
  //   setTimeout(() => {
  //     console.log(layoutChildren, router.getRoutes(), router, 'layoutChildren')
  //     // sessionStorage.setItem("qqq",router.getRoutes())
  //   }, 1000)
})

//
function addRouteHandler(name, compoment) {
  compoment.forEach(item => {
    if (name) {
      router.addRoute(name, item)
    } else {
      router.addRoute(item)
    }
    if (item.children) {
      addRouteHandler(item.name, item.children)
    }
  })
}

// console.log(router, router.options.routes, 'router')

function loginHandler() {
  ruleFormRef.value.validate(valid => {
    if (valid) {
      router.push('/layout')
    } else {
      return false
    }
  })
}
</script>
<style lang="less" scoped>
.login_wrap {
  //   background: url('../../assets/images/login_bg.png');
  background-size: 100% 100%;
}
.login {
  background: #fff;
  padding: 40px;
  border-radius: 30px;
  .title {
    color: #000;
  }
  :deep(.el-input),
  :deep(.el-input__inner) {
    background: #fff !important;
    color: #000;
  }
}
</style>
