<template>
  <div class="wh100">
    <p class="pageTitle">企业档案详情</p>
    <div class="Share_Main w100 flex">
      <G-tree ref="gRef" @node-click="nodeClick" :data="state.treeData" @expendHandler="state.isExpend = $event"></G-tree>
      <div :class="{ EA_main: true, treeTSN: true, treeWidth: state.isExpend, w100: !state.isExpend }">
        <div class="w100 EA_m_main oauto">
          <div class="box EA_m_main_top">
            <div class="box_title box-bg-large flex flex-jb paddr20 flex-ac">
              <span>企业概况</span>
              <div style="line-height: 1"><G-button @click="editbtn('enterpriseArchives')">编辑</G-button></div>
            </div>
            <div class="box_main padd20">
              <el-form disabled ref="formRef" :model="state.enterpriseArchives" :rules="state.rules" label-position="top" class="wh100 ohidden" size="small">
                <div class="flex w100 bform flex-jb">
                  <div class="box_bform">
                    <el-form-item label="企业简称" prop="shortName">
                      <el-input v-model="state.enterpriseArchives.shortName"></el-input>
                    </el-form-item>
                    <el-form-item label="企业名称" prop="name">
                      <el-input v-model="state.enterpriseArchives.name"></el-input>
                    </el-form-item>
                  </div>
                  <div class="verline h100"></div>
                  <div class="box_bform">
                    <el-form-item label="单位类型" prop="type">
                      <el-select clearable suffix-icon="CaretTop" v-model="state.enterpriseArchives.type">
                        <el-option v-for="item in state.typeOptions" :key="item" :label="item" :value="item"> </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="装机容量" prop="installedCapacity">
                      <el-input v-model="state.enterpriseArchives.installedCapacity"></el-input>
                    </el-form-item>
                  </div>
                  <div class="verline h100"></div>
                  <div class="box_bform">
                    <el-form-item label="企业性质" prop="nature">
                      <el-select clearable suffix-icon="CaretTop" v-model="state.enterpriseArchives.nature">
                        <el-option v-for="item in state.natureOptions" :key="item" :label="item" :value="item"> </el-option>
                      </el-select>
                    </el-form-item>

                    <el-form-item label="运行容量" prop="runCapacity">
                      <el-input v-model="state.enterpriseArchives.runCapacity"></el-input>
                    </el-form-item>
                  </div>
                </div>
                <el-form-item label="企业地址" prop="address">
                  <el-input v-model="state.enterpriseArchives.address"></el-input>
                </el-form-item>
              </el-form>
            </div>
          </div>
          <div class="EA_m_main_bot">
            <div class="box">
              <div class="flex flex-jb flex-ac paddl20 paddr20">
                <span class="F16 cfff">下辖所属光伏站</span>
                <G-button @click="editbtn('siteArchives')">编辑</G-button>
              </div>
              <div class="box_mm">
                <el-table size="small" @row-click="siteArchives_rowClick" class="w100" height="100%" highlight-current-row :data="state.siteArchives_tableData" stripe>
                  <el-table-column show-overflow-tooltip align="center" prop="name" label="光伏站名称" />
                  <el-table-column show-overflow-tooltip align="center" prop="installedCapacity" label="装机容量" />
                  <el-table-column show-overflow-tooltip align="center" prop="commissionTime" label="投运日期" />
                  <el-table-column show-overflow-tooltip align="center" prop="type" label="累计发电量" />
                  <el-table-column show-overflow-tooltip align="center" prop="nature" label="是否智能运维" />
                  <el-table-column show-overflow-tooltip align="center" prop="pvPanelManufacturer" label="运维厂家" />
                </el-table>
              </div>
            </div>

            <div class="box box_2">
              <div class="flex flex-jb flex-ac paddl20 paddr20">
                <span class="F16 cfff">所属设备</span>
                <G-button @click="editbtn('equipmentArchives')">编辑</G-button>
              </div>
              <div class="box_mm">
                <el-table size="small" @row-click="equipmentArchives_rowClick" class="w100" height="100%" highlight-current-row :data="state.equipmentArchives_tableData" stripe>
                  <el-table-column show-overflow-tooltip align="center" prop="stationName" label="光伏站名称" />
                  <el-table-column show-overflow-tooltip align="center" prop="name" label="设备名称" />
                  <el-table-column show-overflow-tooltip align="center" prop="manufacturerName" label="厂家" />
                  <el-table-column show-overflow-tooltip align="center" prop="model" label="型号" />
                </el-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'
import { getCompanys, getEquipments, getStations, getEqmTree } from '@/http/api'
import { ElMessage } from 'element-plus'
import { dateFormat } from '@/utils/utils'
const router = useRouter()
const route = useRoute()

const formRef = ref(null)
const gRef = ref(null)
const state = reactive({
  isExpend: true,
  equipmentArchives_tableData: [],
  siteArchives_tableData: [],
  rules: [],
  equipmentArchives: {},
  siteArchives: {},
  treeData: [],
  enterpriseArchives: {
    name: route.query.name,
    type: route.query.type,
    address: route.query.address,
    installedCapacity: route.query.installedCapacity,
    nature: route.query.nature,
    runCapacity: route.query.runCapacity,
    shortName: route.query.shortName,
    createTime: route.query.createTime,
    treeName: route.query.treeName,
    id: route.query.id
  },
  companysData: [],
  compyList: [],
  curId: ''
})
getEqmTreeHandler()
getEquipmentsHandler(state.enterpriseArchives.id)
getStationsHandler(state.enterpriseArchives.id)
onMounted(() => {})

function nodeClick(value) {
  //   console.log(value, '9090090')
  state.currTree = value
  getEquipmentsHandler(value.realId)
  getStationsHandler(value.realId)
  state.curId = value.realId
  getDetail(state.companysData)
}
function getCompanysHandler() {
  getCompanys({ pageNum: 1, pageSize: 99999 }).then(res => {
    state.companysData = res.data.list
    getDetail(res.data.list)
  })
}
function getDetail(arr) {
  arr.forEach(item => {
    if (item.id == state.curId) {
      for (const key in state.enterpriseArchives) {
        state.enterpriseArchives[key] = item[key]
      }
    }
  })
}
function getEquipmentsHandler(companyId) {
  let params = {
    pageNum: 1,
    pageSize: 99999999,
    companyId
  }
  getEquipments(params).then(res => {
    state.equipmentArchives_tableData = res.data.list
  })
}
function getEqmTreeHandler() {
  getEqmTree({ level: 10 }).then(res => {
    getCom(res.data)
    state.treeData = res.data
    nextTick(() => {
      state.curId = route.query.id ? route.query.id : state.compyList[0].realId
      gRef.value.setCurrentKey(state.curId)
      getCompanysHandler()
    })
  })
}

function getCom(arr) {
  arr.forEach(item => {
    if (item.level == 10) {
      state.compyList.push(item)
    }
    if (item.children) {
      getCom(item.children)
    }
  })
}

function getStationsHandler(companyId) {
  let params = {
    pageNum: 1,
    pageSize: 99999999,
    companyId
  }
  getStations(params).then(res => {
    state.siteArchives_tableData = res.data.list
  })
}

function siteArchives_rowClick(row, column, event) {
  state.siteArchives = row
}
function equipmentArchives_rowClick(row, column, event) {
  state.equipmentArchives = row
}

function rowClick(row, column, event) {}
function editbtn(str) {
  let path = '/fileManage/' + str
  router.push({ path, query: state[str] })
}
</script>
<style lang="less" scoped>
.EA_main {
  height: 100%;
  .EA_m_main {
    height: 100%;
    .EA_m_main_top {
      height: 330px;
      margin-bottom: 20px;
      .bform {
        height: 160px;
      }
      .box_bform {
        width: 30%;
      }
    }
    .EA_m_main_bot {
      height: calc(100% - 350px);
      .box {
        height: 50%;
        .box_mm {
          height: calc(100% - 40px);
        }
      }
      .box_2 {
        margin-top: 20px;
        height: calc(50% - 20px);
      }
    }
  }
}
:deep(label.el-form-item__label) {
  color: #c0f8ff;
}
:deep(.el-form-item--small label.el-form-item__label) {
  line-height: 30px;
}
.el-form {
  .el-form-item {
    padding: 0 20px;
    width: 100%;
    :deep(.el-select),
    :deep(.el-select .el-input),
    :deep(.el-date-editor),
    :deep(.el-input__inner) {
      width: 100% !important;
    }
  }
}
</style>
