<template>
  <div class="wh100">
    <p class="pageTitle">设备档案</p>
    <div class="Share_Main w100 flex">
      <G-tree ref="gRef" @node-click="nodeClick" :data="state.treeData" @expendHandler="state.isExpend = $event"></G-tree>
      <div :class="{ EA_main: true, treeTSN: true, treeWidth: state.isExpend, w100: !state.isExpend }">
        <div class="w100 EA_m_main oauto">
          <div class="box EA_m_main_top">
            <p class="box_title box-bg-large-oth">设备档案</p>
            <div class="box_main padd20">
              <div class="tableWrap">
                <el-table ref="tableRef" size="small" @row-click="rowClick" class="w100" height="100%" highlight-current-row :data="state.tableData" stripe>
                  <el-table-column show-overflow-tooltip align="center" prop="sn" label="设备编号" />
                  <el-table-column show-overflow-tooltip align="center" prop="stationName" label="站点名称" />
                  <el-table-column show-overflow-tooltip align="center" prop="equipmentTypeName" label="设备类型" />
                  <el-table-column show-overflow-tooltip align="center" prop="name" label="设备名称" />
                  <el-table-column show-overflow-tooltip align="center" prop="installedCapacity" label="装机容量" />
                  <el-table-column show-overflow-tooltip align="center" prop="manufacturerName" label="厂家" />
                  <el-table-column show-overflow-tooltip align="center" prop="commissionTime" label="投运日期" />
                  <el-table-column show-overflow-tooltip align="center" prop="model" label="设备型号" />
                  <el-table-column show-overflow-tooltip align="center" prop="status" label="设备状态">
                    <template v-slot="scope">
                      <span :style="{ color: getColor(scope.row) }">{{ getName(scope.row) }}</span>
                    </template>
                  </el-table-column>
                </el-table>
              </div>
              <G-pagination :pageSize="state.pageSize" @sizeChange="sizeChange" @currentChange="currentChange" class="pagination" :total="state.total"></G-pagination>
            </div>
          </div>
          <div class="box EA_m_main_bot padd20">
            <el-form ref="formRef" :model="state.form" :rules="state.rules" label-position="top" class="wh100 ohidden" size="small">
              <div class="flex flex-jb w100">
                <div class="formWrap">
                  <el-form-item label="设备编号" prop="sn">
                    <el-input v-model="state.form.sn" placeholder="请输入"></el-input>
                  </el-form-item>
                  <el-form-item label="设备名称" prop="name">
                    <el-input v-model="state.form.name" placeholder="请输入"></el-input>
                  </el-form-item>
                  <el-form-item label="投运日期" prop="commissionTime">
                    <el-date-picker v-model="state.form.commissionTime" type="datetime" placeholder="请选择"> </el-date-picker>
                  </el-form-item>
                </div>
                <div class="verline"></div>
                <div class="formWrap">
                  <el-form-item label="站点名称" prop="stationName">
                    <el-input disabled v-model="state.form.stationName"></el-input>
                  </el-form-item>
                  <el-form-item label="设备型号" prop="model">
                    <el-input v-model="state.form.model" placeholder="请输入"></el-input>
                  </el-form-item>
                  <el-form-item label="厂家" prop="manufacturerId">
                    <!-- <el-input v-model="state.form.manufacturerId" placeholder="请输入"></el-input> -->
                    <el-select clearable suffix-icon="CaretTop" v-model="state.form.manufacturerId" placeholder="请选择">
                      <el-option v-for="item in state.manufacturers" :key="item.id" :label="item.name" :value="item.id"> </el-option>
                    </el-select>
                  </el-form-item>
                </div>
                <div class="verline"></div>
                <div class="formWrap">
                  <el-form-item label="设备类型" prop="equipmentTypeId">
                    <el-select clearable suffix-icon="CaretTop" v-model="state.form.equipmentTypeId" placeholder="请选择">
                      <el-option v-for="item in state.equipTypes" :key="item.id" :label="item.name" :value="item.id"> </el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item label="装机容量" prop="installedCapacity">
                    <el-input v-model="state.form.installedCapacity" placeholder="请输入"></el-input>
                  </el-form-item>
                </div>
              </div>
              <div class="flex flex-jb padd20">
                <div>
                  <G-button class="mr20" @click="addBtn">新增</G-button>
                  <G-button class="mr20" @click="copyInsert">复制插入</G-button>
                  <G-button @click="deleteEquipmentsHandler">删除</G-button>
                </div>
                <div>
                  <G-button class="mr20" @click="save">保存</G-button>
                  <G-button @click="nocopyInsert">取消</G-button>
                </div>
              </div>
            </el-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, onMounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'
import { updateEquipments, addEquipments, deleteEquipments, getEquiStatus, getEqmTree, getEquipTypes, getEquipments, getManufacturers } from '@/http/api'
import { ElMessage } from 'element-plus'
import { dateFormat, cgDateTime, getStatusColor } from '@/utils/utils'

const router = useRouter()
const route = useRoute()
const formRef = ref(null)
const tableRef = ref(null)
const gRef = ref(null)
const state = reactive({
  isExpend: true,
  tableData: [],
  total: 0,
  rules: [],
  isAdd: false,
  currRow: {},
  equipTypes: [],
  form: {
    sn: '',
    stationName: '',
    commissionTime: '',
    name: '',
    model: '',
    manufacturerId: '',
    installedCapacity: '',
    equipmentTypeId: ''
  },
  pageNum: 1,
  pageSize: 10,
  treeData: [],
  currTree: {},
  companyId: '',
  stationId: '',
  copyStationId: '',
  stationName: '',
  isCopyInsert: false,
  manufacturers: [],
  statusList: []
})
getEquiStatusHandler()
getEqmTreeHandler(true)
getManufacturersHandler()
getEquipTypesH()
onMounted(() => {})
function getManufacturersHandler() {
  getManufacturers({ pageNum: 1, pageSize: 99999 }).then(res => {
    state.manufacturers = res.data ? res.data.list : []
  })
}
function getName(params) {
  let { status, equipmentTypeId } = params
  let name = ''
  state.statusList.forEach(item => {
    if (item.id == status && item.equipmentType == equipmentTypeId) {
      name = item.name
    }
  })
  return name
}
function getColor(params) {
  return getStatusColor(params.status)
}

function getEquiStatusHandler() {
  getEquiStatus().then(res => {
    state.statusList = res.data.list
  })
}
function getEqmTreeHandler(isfirst) {
  getEqmTree({ level: 100 }).then(res => {
    forTreeData(res.data, 0)
    state.treeData = res.data
    nextTick(() => {
      if (isfirst && Object.keys(route.query).length > 0) {
        gRef.value.setCurrentKey(route.query.stationId)
        state.stationId = route.query.stationId
      }
      getEquipmentsHandler()
    })
  })
}
function forTreeData(arr, id) {
  arr.forEach(item => {
    item.realPid = id
    if (item.children) {
      forTreeData(item.children, item.realId)
    }
  })
}
function sizeChange(val) {
  state.pageSize = val
  getEquipmentsHandler()
}
function currentChange(val) {
  state.pageNum = val
  state.currRow = {}
  getEquipmentsHandler()
}

function getEquipmentsHandler() {
  let params = {
    pageNum: state.pageNum,
    pageSize: state.pageSize,
    companyId: state.companyId,
    stationId: state.stationId
  }
  getEquipments(params).then(res => {
    if (res.data && res.data.list.length > 0) {
      state.tableData = res.data ? res.data.list : []
      state.total = res.data.total
      if (Object.keys(state.currRow).length > 0) {
        tableRef.value.setCurrentRow(state.currRow)
      } else {
        state.currRow = state.tableData[0]
        tableRef.value.setCurrentRow(state.tableData[0])
        for (const key in state.form) {
          state.form[key] = state.tableData[0][key] ? state.tableData[0][key] : ''
        }
        // state.stationName = ''
      }
    } else {
      state.tableData = []
      state.total = 0
      tableRef.value.setCurrentRow()
      formRef.value.resetFields()
      state.currRow = {}
    }
    if (state.stationName != '') {
      state.form.stationName = state.stationName
    }
    state.isAdd = false
    state.copyStationId = ''
    state.isCopyInsert = false
  })
}
function nodeClick(value) {
  //   state.currTree = value
  state.isCopyInsert = false
  state.copyStationId = ''
  if (value.level == 100) {
    state.companyId = value.realPid
    state.stationId = value.realId
    state.stationName = value.name
  } else if (value.level == 10) {
    state.companyId = value.realId
    state.stationId = ''
    state.stationName = ''
  } else {
    state.companyId = ''
    state.stationId = ''
    state.stationName = ''
  }
  state.pageNum = 1
  state.currRow = {}
  getEquipmentsHandler()
}
function addBtn() {
  state.currRow = {}
  formRef.value.resetFields()
  tableRef.value.setCurrentRow()
  state.isAdd = true
  if (state.stationName != '') {
    state.form.stationName = state.stationName
  }
}
function copyInsert() {
  state.isCopyInsert = true
  if (Object.keys(state.currRow).length > 0) {
    state.isAdd = true
    let obj = JSON.parse(JSON.stringify(state.currRow))
    obj.id = 'new_' + obj.id
    state.tableData.push(obj)
    tableRef.value.setCurrentRow(obj)
    state.copyStationId = obj.stationId
  } else {
    ElMessage({
      message: '请先选择设备',
      type: 'warning'
    })
  }
}
function nocopyInsert() {
  if (state.isCopyInsert) {
    state.copyStationId = ''
    state.isAdd = false
    state.tableData.pop()
    tableRef.value.setCurrentRow(state.currRow)
  }
}
function rowClick(row, column, event) {
  state.currRow = row
  state.isAdd = false
  state.isCopyInsert = false
  state.copyStationId = ''
  for (const key in state.form) {
    state.form[key] = row[key] ? row[key] : ''
  }
}
function save() {
  formRef.value.validate(valid => {
    if (valid) {
      state.isAdd ? addEquipmentsHandler() : updateEquipmentsHandler()
    } else {
      return false
    }
  })
}
function addEquipmentsHandler() {
  if (state.stationId == '' && state.copyStationId == '') {
    ElMessage({
      message: '请先选择站点',
      type: 'warning'
    })
  } else {
    let stationId = state.stationId != '' ? state.stationId : state.copyStationId != '' ? state.copyStationId : ''
    let params = {
      stationId: stationId,
      createTime: cgDateTime()
    }
    state.form.commissionTime = cgDateTime(state.form.commissionTime)
    Object.assign(params, state.form)
    addEquipments(params).then(res => {
      if (res.code == 200) {
        ElMessage({
          message: '添加成功',
          type: 'success'
        })
        state.copyStationId = ''
        //   getEqmTreeHandler()
        state.isAdd = false
        state.isCopyInsert = false
        getEquipmentsHandler()
      } else {
        ElMessage({
          message: res.message,
          type: 'error'
        })
      }
    })
  }
}
function updateEquipmentsHandler() {
  if (Object.keys(state.currRow).length > 0) {
    state.form.commissionTime = cgDateTime(state.form.commissionTime)
    let { stationId, activePower, dailyPowerGeneration, dataCollectionTime, installedCapacity, status } = { ...state.currRow }
    let params = {
      stationId,
      activePower,
      dailyPowerGeneration,
      dataCollectionTime,
      installedCapacity,
      status
    }
    Object.assign(params, state.form)
    updateEquipments(state.currRow.id, params).then(res => {
      if (res.code == 200) {
        ElMessage({
          message: '修改成功',
          type: 'success'
        })
        //   getEqmTreeHandler()
        state.currRow = {}
        getEquipmentsHandler()
      } else {
        ElMessage({
          message: res.message,
          type: 'error'
        })
      }
    })
  } else {
    ElMessage({
      message: '请选择设备后再修改',
      type: 'warning'
    })
  }
}
function deleteEquipmentsHandler() {
  deleteEquipments(state.currRow.id).then(res => {
    if (res.code == 200) {
      ElMessage({
        message: '删除成功',
        type: 'success'
      })
      //   getEqmTreeHandler()
      state.currRow = {}
      getEquipmentsHandler()
    } else {
      ElMessage({
        message: res.message,
        type: 'error'
      })
    }
  })
}

function getEquipTypesH() {
  getEquipTypes().then(res => {
    state.equipTypes = res.data ? res.data.list : []
  })
}
</script>
<style lang="less" scoped>
.EA_main {
  height: 100%;
  .EA_m_main {
    height: 100%;
    .EA_m_main_top {
      height: calc(100% - 350px);
      margin-bottom: 20px;
    }
    .EA_m_main_bot {
      height: 330px;
      .el-form {
        .el-form-item {
          padding: 0 20px;
          width: 100%;
          :deep(.el-select),
          :deep(.el-select .el-input),
          :deep(.el-date-editor),
          :deep(.el-input__inner) {
            width: 100% !important;
          }
        }
      }
    }
  }
}
.formWrap {
  width: 33%;
}
:deep(label.el-form-item__label) {
  color: #c0f8ff;
}
.tableWrap {
  width: 100%;
  height: calc(100% - 45px);
}
.pagination {
  margin-top: 10px;
}
</style>
