<template>
  <div class="wh100">
    <p class="pageTitle">站点档案概览</p>
    <div class="Share_Main w100 flex">
      <G-tree ref="gRef" @node-click="nodeClick" :data="state.treeData" @expendHandler="state.isExpend = $event"></G-tree>
      <div :class="{ SA_main: true, treeTSN: true, treeWidth: state.isExpend, w100: !state.isExpend }">
        <div class="w100 SA_m_main oauto">
          <div class="box SA_m_main_top">
            <p class="box_title box-bg-large-oth">{{ !state.treeName || state.treeName == '' ? '光伏' : state.treeName }}站点档案</p>
            <div class="box_main padd20">
              <el-table ref="tableRef" size="small" @row-click="rowClick" class="w100" height="100%" highlight-current-row :data="state.tableData" stripe>
                <el-table-column show-overflow-tooltip width="120" fixed align="center" prop="sn" label="站所编号" />
                <el-table-column show-overflow-tooltip width="150" fixed align="center" prop="name" label="站所全名" />
                <!-- <el-table-column width="150" align="center" prop="type" label="站所简称" /> -->
                <el-table-column show-overflow-tooltip width="150" align="center" prop="status" label="站点状态">
                  <template v-slot="scope">
                    <span v-if="scope.row.status == 0" class="successColor">通讯正常</span>
                    <span v-else class="errorColor">通讯异常</span>
                  </template>
                </el-table-column>
                <el-table-column show-overflow-tooltip width="150" align="center" prop="company" label="所属企业" />
                <el-table-column show-overflow-tooltip width="150" align="center" prop="type" label="站点类型" />
                <el-table-column show-overflow-tooltip width="150" align="center" prop="imgPath" label="站所对应的图片">
                  <template v-slot="scoped">
                    <div class="table_relat relative">
                      <el-image class="table_elImg" hide-on-click-modal :src="state.imgURL + scoped.row.imgPath" :preview-src-list="[state.imgURL + scoped.row.imgPath]" :initial-index="0" fit="cover">
                        <template #error>
                          <div class="wh100" style="background: rgba(0, 0, 0, 0)"></div>
                        </template>
                        <template #placeholder>
                          <div class="wh100" style="background: rgba(0, 0, 0, 0)"></div>
                        </template>
                      </el-image>
                      <span style="color: #1de6ff">查看</span>
                    </div>
                  </template>
                </el-table-column>
                <el-table-column width="150" align="center" prop="wiringDiagram" label="接线图">
                  <template v-slot="scoped">
                    <div class="table_relat relative">
                      <el-image
                        hide-on-click-modal
                        class="table_elImg"
                        :src="state.imgURL + scoped.row.wiringDiagram"
                        :preview-src-list="[state.imgURL + scoped.row.wiringDiagram]"
                        :initial-index="0"
                        fit="cover"
                      >
                        <template #error>
                          <div class="wh100" style="background: rgba(0, 0, 0, 0)"></div>
                        </template>
                        <template #placeholder>
                          <div class="wh100" style="background: rgba(0, 0, 0, 0)"></div>
                        </template>
                      </el-image>
                      <span style="color: #1de6ff">查看</span>
                    </div>
                  </template>
                </el-table-column>
                <el-table-column show-overflow-tooltip width="150" align="center" prop="longitude" label="经度" />
                <el-table-column show-overflow-tooltip width="150" align="center" prop="latitude" label="纬度" />
                <el-table-column show-overflow-tooltip width="150" align="center" prop="telephone" label="联系电话" />
                <el-table-column show-overflow-tooltip width="150" align="center" prop="contactPerson" label="联系人" />
                <el-table-column show-overflow-tooltip width="150" align="center" prop="installedCapacity" label="装机容量" />
                <el-table-column show-overflow-tooltip width="150" align="center" prop="commissionTime" label="投运时间" />
                <el-table-column show-overflow-tooltip width="150" align="center" prop="pvModuleOrientation" label="光伏组件朝向" />
                <el-table-column show-overflow-tooltip width="150" align="center" prop="pvModuleInclination" label="光伏组件倾斜角 " />
                <el-table-column show-overflow-tooltip width="150" align="center" prop="pvPanelManufacturer" label="光伏板厂家 " />
              </el-table>
            </div>
          </div>
          <div class="box SA_m_main_bot padd20">
            <el-form ref="formRef" :model="state.form" :rules="state.rules" label-position="top" class="wh100 ohidden" size="small">
              <div class="flex flex-jb">
                <div class="formdivwrap flex flex-jb">
                  <div class="wid33 input_w100">
                    <el-form-item label="站所编号" prop="sn">
                      <el-input v-model="state.form.sn" placeholder="请输入"></el-input>
                    </el-form-item>
                    <el-form-item label="站点类型" prop="type">
                      <el-select suffix-icon="CaretTop" v-model="state.form.type" placeholder="请选择">
                        <el-option v-for="item in state.typeOptions" :key="item" :label="item" :value="item"> </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="站所地址" prop="address">
                      <el-input v-model="state.form.address" placeholder="请输入"></el-input>
                    </el-form-item>
                  </div>
                  <div class="wid66">
                    <el-form-item label="站所全称" prop="name">
                      <el-input v-model="state.form.name" placeholder="请输入"></el-input>
                    </el-form-item>
                    <div class="flex flex-jb input_w50">
                      <el-form-item label="站所简称" prop="name">
                        <el-input v-model="state.form.name" placeholder="请输入"></el-input>
                      </el-form-item>
                      <el-form-item label="所属企业" prop="company">
                        <el-input disabled v-model="state.form.company" placeholder="请输入"></el-input>
                      </el-form-item>
                    </div>
                    <div class="flex flex-jb input_w50">
                      <div class="flex input_w100" style="width: 50%">
                        <el-form-item label="站所对应的图片" class="upload_item_input" prop="imgPath">
                          <el-input disabled v-model="state.form.imgPath" placeholder="请上传图片"></el-input>
                        </el-form-item>
                        <el-form-item class="upload_item" label="图">
                          <el-upload class="upload-demo" :action="state.uploadURL" :show-file-list="false" :limit="1" :on-success="imgPath_successHandler" :on-error="errorHandler">
                            <G-button>...</G-button>
                          </el-upload>
                        </el-form-item>
                      </div>
                      <div class="flex input_w100" style="width: 50%">
                        <el-form-item label="接线图" class="upload_item_input" prop="wiringDiagram">
                          <el-input disabled v-model="state.form.wiringDiagram" placeholder="请上传图片"></el-input>
                        </el-form-item>
                        <el-form-item class="upload_item" label="图">
                          <el-upload class="upload-demo" :action="state.uploadURL" :show-file-list="false" :limit="1" :on-success="successHandler" :on-error="errorHandler">
                            <G-button>...</G-button>
                          </el-upload>
                        </el-form-item>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="verline ml20"></div>
                <div class="formdivwrap flex flex-jb">
                  <div class="wid33 input_w100">
                    <div class="flex input_w50">
                      <el-form-item label="经度" prop="longitude">
                        <el-input v-model="state.form.longitude" placeholder="请输入"></el-input>
                      </el-form-item>
                      <el-form-item label="纬度" prop="latitude">
                        <el-input v-model="state.form.latitude" placeholder="请输入"></el-input>
                      </el-form-item>
                    </div>
                    <el-form-item label="装机容量" prop="installedCapacity">
                      <el-input v-model="state.form.installedCapacity" placeholder="请输入"></el-input>
                    </el-form-item>
                    <el-form-item label="投运时间" prop="commissionTime">
                      <!-- <el-input v-model="state.form.commissionTime" placeholder="请输入"></el-input> -->
                      <el-date-picker v-model="state.form.commissionTime" type="datetime" placeholder="请选择"> </el-date-picker>
                    </el-form-item>
                  </div>
                  <div class="wid33 input_w100">
                    <el-form-item label="联系人" prop="contactPerson">
                      <el-input v-model="state.form.contactPerson" placeholder="请输入"></el-input>
                    </el-form-item>
                    <el-form-item label="联系电话" prop="telephone">
                      <el-input v-model="state.form.telephone" placeholder="请输入"></el-input>
                    </el-form-item>
                  </div>
                  <div class="wid33 input_w100">
                    <el-form-item label="光伏组件朝向" prop="pvModuleOrientation">
                      <el-input v-model="state.form.pvModuleOrientation" placeholder="请输入"></el-input>
                    </el-form-item>
                    <el-form-item label="光伏组件与水平地面夹角" prop="pvModuleInclination">
                      <el-input v-model="state.form.pvModuleInclination" placeholder="请输入"></el-input>
                    </el-form-item>
                    <el-form-item label="光伏板厂家" prop="pvPanelManufacturer">
                      <el-input v-model="state.form.pvPanelManufacturer" placeholder="请输入"></el-input>
                    </el-form-item>
                  </div>
                </div>
              </div>

              <div class="flex flex-jb padd20">
                <div>
                  <G-button class="mr20" @click="addBtn">新增</G-button>
                  <G-button @click="deletestationsHandler">删除</G-button>
                </div>
                <G-button @click="save">保存</G-button>
              </div>
            </el-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'
import { getCompanys, getStations, getEqmTree, getAllStations, addstations, updatestations, deletestations } from '@/http/api'
import { ElMessage } from 'element-plus'
import { dateFormat } from '@/utils/utils'

const router = useRouter()
const route = useRoute()
const formRef = ref(null)
const tableRef = ref(null)
const gRef = ref(null)
const state = reactive({
  isExpend: true,
  tableData: [],
  //   total:0,
  typeOptions: ['国企', '民企', '工厂', '事业单位'],
  natureOptions: ['测试', '投运'],
  rules: [],
  isAdd: false,
  currRow: {},
  form: {
    address: '',
    commissionTime: '',
    company: '',
    contactPerson: '',
    createTime: '',
    dailyPowerGeneration: '',
    // id: '主键id',
    imgPath: '',
    installedCapacity: '',
    latitude: '',
    longitude: '',
    name: '',
    pvModuleInclination: '',
    pvModuleOrientation: '',
    pvPanelManufacturer: '',
    sn: '',
    // status: '',
    telephone: '',
    type: '',
    wiringDiagram: ''
  },
  treeData: [],
  currTree: {},
  companysList: [],
  companyId: null,
  treeCompanyId: null,
  treeName: '',
  uploadURL: '/ydrobot-photovoltaic-api/ui/files',
  imgURL: IMG_FILE_BASE_URL
})
if (Object.keys(route.query).length > 0) {
  state.treeCompanyId = route.query.id
}
getEqmTreeHandler()
getCompanysHandler()
onMounted(() => {})
function getEqmTreeHandler() {
  getEqmTree({ level: 100 }).then(res => {
    setTreePid(res.data)
    state.treeData = res.data
    nextTick(() => {
      if (state.treeCompanyId) {
        gRef.value.setCurrentKey(state.treeCompanyId)
      }
      getStationsHandler(true)
    })
  })
}
function lookUp(path) {}

function setTreePid(arr, id) {
  arr.forEach(item => {
    item.realPid = id
    if (route.query.id == item.realId) {
      state.treeCompanyId = id
    }
    if (item.children) {
      setTreePid(item.children, item.realId)
    }
  })
}
function getAllStationsH() {
  getAllStations().then(res => {
    if (res.data) {
      handlerStationsData(res.data)
    } else {
      state.tableData = []
    }
  })
}
function successHandler(response, file, fileList) {
  //   console.log(response, file, fileList, 'response, file, fileList,str')
  ElMessage({
    message: '上传成功',
    type: 'success'
  })
  state.form.wiringDiagram = response.data.localUrl
}

function imgPath_successHandler(response, file, fileList, str) {
    ElMessage({
    message: '上传成功',
    type: 'success'
  })
  console.log(response, file, fileList, 'response, file, fileList,str')
  state.form.imgPath = response.data.localUrl
}

function errorHandler(error, file, fileList) {
  //   console.log(file, fileList, 'ferrorile, fileList')
  ElMessage({
    message: '上传失败',
    type: 'error'
  })
}
function getCompanysHandler() {
  getCompanys({ pageNum: 1, pageSize: 99999 }).then(res => {
    state.companysList = res.data.list
  })
}
function getStationsHandler(isfirst = false) {
  getStations({ pageNum: 1, pageSize: 99999, companyId: state.treeCompanyId || state.treeCompanyId == 0 ? state.treeCompanyId : '' }).then(res => {
    if (res.data && res.data.list.length > 0) {
      handlerStationsData(res.data.list, isfirst)
    } else {
      tableRef.value.setCurrentRow()
      state.tableData = []
      state.currRow = {}
      state.companyId = null
      formRef.value.resetFields()
      state.companysList.forEach(item => {
        if (state.treeCompanyId == item.id) {
          state.form.company = item.name
        }
      })
    }
  })
}
function handlerStationsData(list, isfirst) {
  let data = {}
  list.forEach(item => {
    state.companysList.forEach(m => {
      if (m.id == item.companyId) {
        item.company = m.name
      }
    })
  })
  state.tableData = list
  if (Object.keys(route.query).length > 0 && isfirst) {
    data = list.filter(item => {
      return item.id == route.query.id
    })
  } else {
    data = list ? list : []
  }
  let row = data.length > 0 ? data[0] : {}
  state.currRow = row
  tableRef.value.setCurrentRow(row)
  for (const key in state.form) {
    state.form[key] = row[key] ? row[key] : ''
  }
  state.companyId = row.companyId
}
function nodeClick(value) {
  state.currTree = value
  //   console.log(value,"0-000")
  state.treeCompanyId = value.level == 1 ? '' : value.realId
  state.treeName = value.name
  // state.treeCompanyId

  getStationsHandler()
}
watchEffect(() => {
  //   console.log(state.companyId, 'companyId', state.treeCompanyId, 'state.treeCompanyId', state.currRow, 'state.currRow')
})
function addBtn() {
  state.currRow = {}
  formRef.value.resetFields()
  tableRef.value.setCurrentRow()
  let id = state.treeCompanyId ? state.treeCompanyId : state.companyId
  nextTick(() => {
    state.companysList.forEach(item => {
      if (id == item.id) {
        state.form.company = item.name
      }
    })
  })
  state.isAdd = true
}
function rowDBlClick(row, column, event) {
  router.push({ path: '/fileManage/enterprisedtails', query: row })
}
function rowClick(row, column, event) {
  state.currRow = row
  state.isAdd = false
  for (const key in state.form) {
    state.form[key] = row[key] ? row[key] : ''
  }
  state.companyId = row.id
}
function save() {
  formRef.value.validate(valid => {
    if (valid) {
      state.isAdd ? addstationsHandler() : updatestationsHandler()
    } else {
      return false
    }
  })
}
function addstationsHandler() {
  state.form.createTime = dateFormat(new Date(), true)
  state.form.commissionTime = state.form.commissionTime == '' ? dateFormat(new Date(), true) : dateFormat(state.form.commissionTime, true)

  let companyId = state.treeCompanyId ? state.treeCompanyId : state.companyId
  let params = {
    companyId,
    status: 0
  }
  Object.assign(params, state.form)
  addstations(params).then(res => {
    if (res.code == 200) {
      ElMessage({
        message: '添加成功',
        type: 'success'
      })
      getEqmTreeHandler()
      getStationsHandler()
    } else {
      ElMessage({
        message: res.message,
        type: 'error'
      })
    }
  })
}
function updatestationsHandler() {
  if (Object.keys(state.currRow).length > 0) {
    updatestations(state.currRow.id, state.form).then(res => {
      if (res.code == 200) {
        ElMessage({
          message: '修改成功',
          type: 'success'
        })
        getEqmTreeHandler()
        getStationsHandler()
      } else {
        ElMessage({
          message: res.message,
          type: 'error'
        })
      }
    })
  } else {
    ElMessage({
      message: '请选择站点后修改',
      type: 'warning'
    })
  }
}
function deletestationsHandler() {
  deletestations(state.currRow.id).then(res => {
    if (res.code == 200) {
      ElMessage({
        message: '删除成功',
        type: 'success'
      })
      getEqmTreeHandler()
      getStationsHandler()
    } else {
      ElMessage({
        message: res.message,
        type: 'error'
      })
    }
  })
}
</script>
<style lang="less" scoped>
.SA_main {
  height: 100%;
  .SA_m_main {
    height: 100%;
    .SA_m_main_top {
      height: calc(100% - 350px);
      margin-bottom: 20px;
      //   :deep(.el-table__fixed) {
      //     width: 290px;
      //   }
      :deep(.el-table__fixed-body-wrapper) {
        top: 40px !important;
      }
    }
    .SA_m_main_bot {
      height: 330px;
      .el-form {
        .el-form-item {
          padding: 0 0 0 20px;
          width: 100%;
          :deep(.el-select),
          :deep(.el-select .el-input),
          :deep(.el-date-editor),
          :deep(.el-input__inner) {
            width: 100% !important;
          }
        }
        .formdivwrap {
          width: calc(50% - 10px);
          .wid33 {
            width: 33.3%;
          }
          .wid66 {
            width: 66.6%;
          }
          .upload_item_input {
            padding-right: 0 !important;
          }
          .upload_item {
            width: 42px;
            padding-left: 10px;
            :deep(.el-form-item__label) {
              color: transparent;
            }
            .g-button {
              padding: 0;
              width: 32px;
              height: 32px;
            }
          }
        }
      }
    }
  }
}

.table_relat {
  text-align: center;
  .table_elImg {
    position: absolute !important;
    display: block;
    width: 100%;
    height: 100%;
    :deep(.el-image__inner) {
      opacity: 0;
    }
    // :deep(.el-image__error) {
    //   display: none;
    // }
  }
}
:deep(.el-image-viewer__mask) {
  opacity: 0.7;
}
:deep(.el-table__body-wrapper) {
  overflow: auto !important;
}
:deep(.el-table__fixed) {
  width: 270px !important;
}
:deep(.cell.el-tooltip) {
  width: 100% !important;
}
</style>
