<template>
  <div id="container" class="flex flex-column">
    <div class="header">
      <Header></Header>
    </div>
    <div class="container flex">
      <Sidebar v-if="!state.noSider"></Sidebar>
      <div class="main">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script setup>
import { reactive } from 'vue-demi'
import { useRoute } from 'vue-router'
import Sidebar from './components/sidebar.vue'
import Header from './components/header.vue'
const route = useRoute()
const state = reactive({
  noSider: route.meta.noSider
})
</script>

<style lang="less" scoped>
#container {
  width: 100%;
  height: 100%;
  .header {
    width: 100%;
    height: 100%;
    // background: #e2e2e2;
    height: 105px;
  }
  .container {
    width: 100%;
    height: calc(100% - 105px);
    .aside {
      //   background: #eee;
      width: 300px;
      height: 100%;
    }
    .main {
      flex: 1;
      height: 100%;
      overflow: hidden;
      padding: 0 20px 20px 20px;
    }
  }
}
</style>
