<template>
  <router-view></router-view>
</template>
<script setup lang="ts">
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'

const router = useRouter()
const route = useRoute()
const state = reactive({})
onMounted(() => {})
</script>
<style lang="less" scoped></style>
