<template>
  <div class="datePicker flex flex-ac">
    <span class="tex">起</span>
    <el-date-picker
      size="mini"
      popper-class="datePicker_propper"
      :disabledDate="disabledDateStart"
      v-model="state.startTime"
      :disabled="props.disabled"
      type="date"
      placeholder="请选择日期"
      clearable
      @change="changeHandler($event, 'startTime')"
    ></el-date-picker>
    <span class="tex">止</span>
    <el-date-picker
      size="mini"
      :disabled="props.disabled"
      popper-class="datePicker_propper"
      :disabledDate="disabledDateEnd"
      v-model="state.endTime"
      type="date"
      placeholder="请选择日期"
      clearable
      @change="changeHandler($event, 'endTime')"
    ></el-date-picker>
  </div>
</template>
<script setup>
import { reactive, watchEffect } from 'vue-demi'
import { dateFormat } from '@/utils/utils'
const emit = defineEmits(['change'])

const props = defineProps({
  initDate: {
    type: Array,
    default: () => {
      return []
    }
  },
  disabled: {
    type: Boolean,
    default: () => {
      return false
    }
  }
})

const state = reactive({
  startTime: null,
  endTime: null,
  time: {
    startTime: '',
    endTime: ''
  }
})

watchEffect(() => {
  if (props.initDate.length > 0) {
    state.startTime = props.initDate[0]
    state.endTime = props.initDate[1]
  }
})

function disabledDateStart(e) {
  if (state.endTime && e.getTime() > state.endTime.getTime()) {
    return true
  } else {
    return false
  }
}
function disabledDateEnd(e) {
  if (state.startTime && e.getTime() < state.startTime.getTime()) {
    return true
  } else {
    return false
  }
}
function changeHandler(e, key) {
  state.time[key] = e ? dateFormat(e) : ''
  emit('change', state.time)
}
</script>
<style lang="less"></style>
