<template>
  <el-pagination
    background
    class="pagination"
    layout="prev, pager, next,jumper"
    :total="props.total"
    :pager-count="props.pagerCount"
    :current-page:v-model="state.currentPage"
    @current-change="currentChange"
    @size-change="sizeChange"
    :page-size="props.pageSize"
  >
  </el-pagination>
</template>
<script setup>
import { reactive, onMounted } from 'vue'
const emit = defineEmits(['currentChange', 'sizeChange'])
const props = defineProps({
  total: {
    type: Number,
    default: () => {
      return 0
    }
  },
  pageSize: {
    type: Number,
    default: () => {
      return 10
    }
  },
  pagerCount: {
    type: Number,
    default: () => {
      return 11
    }
  }
})
const state = reactive({
  currentPage: 1
})
onMounted(() => {})

function sizeChange(pageSize) {
  emit('sizeChange', pageSize)
}
function currentChange(currentPage) {
  emit('currentChange', currentPage)
}
</script>
<style lang="less">
div.el-pagination.is-background.pagination {
  text-align: right;
  .el-pager li {
    background-color: rgba(29, 230, 255, 0);
    border: 1px solid rgba(29, 230, 255, 0.6);
    color: rgba(255, 255, 255, 0.65);
  }
  .btn-prev:hover,
  .btn-next:hover,
  .el-pager li:hover,
  .el-pager li:not(.disabled).active {
    background-color: rgba(29, 230, 255, 0.5);
    border: 1px solid rgba(29, 230, 255, 0.6);
    color: #fff;
  }
  .btn-prev,
  .btn-next,
  .btn-prev:disabled,
  .btn-next:disabled {
    background-color: rgba(29, 230, 255, 0);
    border: 1px solid rgba(29, 230, 255, 0.6);
    color: rgba(255, 255, 255, 0.65);
  }
  .el-pagination__jump {
    color: rgba(255, 255, 255, 0.65);
    :deep(.el-input__inner) {
      background-color: rgba(29, 230, 255, 0);
      border: 1px solid rgba(29, 230, 255, 0.6);
      color: rgba(255, 255, 255, 0.65);
    }
  }
}
</style>
