<template>
  <div class="w100 tab cfff flex ohidden">
    <!-- :style="{ zIndex: 10 - index }" -->
    <div
      :class="{
        tab_item: true,
        normal0: index == 0 && index != state.aIndex,
        active0: index == state.aIndex && index == 0,
        normal: index != 0 && index != state.aIndex,
        active: index == state.aIndex && index != 0,
        borderb: index <= state.aIndex,
        margin65: index > 1 && item.name.length > 2,
        margin68: index == 1 && item.name.length > 2,
        margin75: index == 1 && item.name.length > 3
      }"
      v-for="(item, index) in props.data"
    >
      <span class="F16 inlineblock h100" @click="clickhandler(item, index)">{{ item.name }}</span>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue'

const props = defineProps({
  data: {
    type: Array,
    default: () => {
      return [
        { name: '遥测', id: 0 },
        { name: '遥信', id: 1 }
      ]
    }
  }
})
const emit = defineEmits(['change'])
const state = reactive({
  aIndex: 0
})

// watchEffect(()=>{
//     state.aIndex
// })

onMounted(() => {})
function clickhandler(item, index) {
  state.aIndex = index
  emit('change', item.id, index)
}
</script>
<style lang="less" scoped>
.tab {
  padding-left: 40px;
  -webkit-text-stroke: 1px #ffffff;
  text-stroke: 1px #ffffff;
  border-bottom: 2px solid #34f8ff;
  background: rgba(29, 230, 255, 0.1);

  border-image: linear-gradient(to right, #34f8ff 0%, rgba(45, 170, 176, 0.2) 80%, rgba(45, 170, 176, 0.1) 95%) 2 2;
  .tab_item {
    height: 52px;
    line-height: 52px;
    padding: 0 60px 0 25px;
    margin-left: -55px;
    margin-bottom: -2px;
    // transition: all 0.1s;
    cursor: pointer;
    position: relative;
    .inlineblock {
      padding: 0 20px 0 15px;
    }
  }
  .margin65 {
    margin-left: -65px;
  }
  .margin68 {
    margin-left: -68px;
  }
  .margin75 {
    margin-left: -75px;
  }
  .marginl0 {
    margin-left: 0;
  }
  .normal0 {
    background: url('../../assets/images/tab_normal_0.png') no-repeat left;
    background-size: 92% 105%;
  }
  .active0 {
    background: url('../../assets/images/tab_active_0.png') no-repeat left;
    background-size: 92% 105%;
  }
  .normal {
    background: url('../../assets/images/tab_normal.png') no-repeat left;
    background-size: 100% 105%;
  }
  .active {
    background: url('../../assets/images/tab_active.png') no-repeat left;
    background-size: 92% 103%;
  }
  //   .borderb {
  //     border-bottom: 2px solid #040c0c;
  //   }
}
</style>
