<template>
  <div class="toptitle_h w100 box_title box-bg-large flex flex-ac">
    <span class="tit textoverflow">{{ state.name }}</span>
    <div class="toptitle_h_r flex flex-ac">
      <div class="toptitle_h_c flex flex-ac">
        <div @click="leftHandler">
          <img src="../../assets/images/arrow_left.png" alt="" />
        </div>
        <div @click="rightHandler">
          <img src="../../assets/images/arrow_right.png" alt="" />
        </div>
      </div>
      <div class="flex" v-for="(item, index) in state.data">
        <p>
          <span>{{ item.name }}</span
          ><i :class="{ F24IM: item.unit }" :style="item.color ? 'color:'+item.color : 'color:#1de6ff'">{{ item.value }}</i
          ><em>{{ item.unit }}</em>
        </p>
        <i v-show="index !== props.data.length - 1">|</i>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'
const props = defineProps({
  name: {
    type: String,
    default: () => {
      return ''
    }
  },
  data: {
    type: Array,
    default: () => {
      return []
    }
  },
  datalength: {
    type: Number,
    default: () => {
      return 0
    }
  }
})
const state = reactive({
  currIndex: 0,
  datalength: 0,
  name: ''
})
const emit = defineEmits(['indexChange'])
onMounted(() => {})
watchEffect(() => {
  state.datalength = props.datalength
  state.data = props.data
  state.name = props.name
  console.log(props.datalength, props.data, 'datalength')
})
function leftHandler() {
  if (state.currIndex <= 0) {
    state.currIndex = 0
  } else {
    state.currIndex -= 1
  }
  emit('indexChange', state.currIndex)
}
function rightHandler() {
  console.log(state.currIndex, 123123)
  if (state.currIndex >= state.datalength - 1) {
    state.currIndex = state.datalength - 1
  } else {
    state.currIndex += 1
  }
  emit('indexChange', state.currIndex)
}
</script>
<style lang="less" scoped>
.toptitle_h {
  padding-left: 25px;
  //   width: calc(100% - 20px);
  //   margin-left: 20px;

  font-size: 20px;
  .tit {
    width: 22%;
  }
  .toptitle_h_c {
    > div {
      padding: 0 10px;
    }
    img {
      width: 8px;
      //   margin: 0 7px;
      cursor: pointer;
    }
    margin-right: 90px;
  }
  .toptitle_h_r {
    i {
      margin: 0 15px;
    }
    p {
      white-space: nowrap;
      span {
        font-size: 14px;
        color: #fff;
      }
      i {
        font-size: 14px;
        color: #1de6ff;
        margin: 0 5px 0 8px;
        white-space: nowrap;
      }
      em {
        font-size: 12px;
        color: #1de6ff;
      }
    }
  }
}
</style>
