<template>
  <div :class="{ tree_wrap: true, width255: state.isExpend, width0: !state.isExpend }">
    <el-input v-model="state.filterText" suffix-icon="Search" size="mini" placeholder="" />
    <!-- default-expand-all -->
    <el-tree
      ref="treeRef"
      :expand-on-click-node="false"
      default-expand-all
      highlight-current
      class="tree"
      :node-key="props.nodekey"
      :data="props.data"
      :props="defaultProps"
      :filter-node-method="filterNode"
      @node-click="handleNodeClick"
    />
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'

const router = useRouter()
const route = useRoute()
const treeRef = ref(null)
const customNodeClass = (data, node) => {
  if (data.status == 'normal') {
    return 'normal'
  } else if (data.status == 'abnormal') {
    return 'abnormal'
  }
  return null
}
const props = defineProps({
  data: {
    type: Array,
    default: () => {
      return []
    }
  },
  nodekey: {
    type: String,
    default: () => {
      return 'realId'
    }
  }
})
const defaultProps = {
  children: 'children',
  label: 'name',
  class: customNodeClass
}
const state = reactive({
  filterText: '',
  isExpend: true
})
const emit = defineEmits(['expendHandler', 'node-click'])

watch(()=>state.filterText, val => {
  treeRef.value.filter(val)
})

onMounted(() => {})

function filterNode(value, data) {
  if (!value) return true
  return data.name.indexOf(value) !== -1
}

function handleNodeClick(data) {
  emit('node-click', data)
}
function clickHandler() {
  state.isExpend = !state.isExpend
  emit('expendHandler', state.isExpend)
}
function setCurrentKey(key) {
  treeRef.value.setCurrentKey(key)
}

defineExpose({
  setCurrentKey
})
</script>
<style lang="less" scoped>
.tree_wrap {
  background: rgba(50, 247, 255, 0.06);
  border-top: 2px solid #34f8ff;
  border-bottom: 2px solid #34f8ff;
  height: 100%;
  padding: 20px;
  margin-right: 20px;
  transition: all 0.5s;

  .tree {
    margin-top: 20px;
    height: calc(100% - 50px);
    background: transparent;
    color: #79faff;
    font-size: 16px;
    overflow-y: auto;
    :deep(.el-tree-node__content) {
      background: rgba(29, 230, 255, 0.04);
      margin: 1px 0;
      height: 40px;
    }
    :deep(.el-tree-node:focus > .el-tree-node__content),
    :deep(.el-tree-node__content:hover) {
      background-color: transparent;
      color: #79faff;
      //   -webkit-text-stroke: 1px #32f7ff;
      //   text-stroke: 1px #32f7ff;
      background: linear-gradient(90deg, rgba(100, 252, 255, 0) 0%, rgba(100, 252, 255, 0.4) 20%, rgba(100, 252, 255, 0.26) 55%, rgba(100, 252, 255, 0) 100%);
    }
    :deep(.el-tree-node__expand-icon) {
      color: #b8f6fe;
    }
    :deep(.el-tree-node__expand-icon.is-leaf) {
      color: transparent;
    }
  }
  :deep(.normal i.el-icon) {
    // color: red!important;
    background: #30e0a1;
    border-radius: 50%;
  }
  :deep(.abnormal i.el-icon) {
    // color: red!important;
    background: #e52e44;
    border-radius: 50%;
  }
  :deep(.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content) {
    background: linear-gradient(90deg, rgba(100, 252, 255, 0) 0%, rgba(100, 252, 255, 0.4) 20%, rgba(100, 252, 255, 0.26) 55%, rgba(100, 252, 255, 0) 100%);

    // background: linear-gradient(90deg, rgba(100, 252, 255, 0) 0%, rgba(100, 252, 255, 0.33) 10%, rgba(100, 252, 255, 0.26) 45%, rgba(100, 252, 255, 0) 100%);
  }
}
.width255 {
  width: 255px;
}
.width0 {
  width: 0;
  padding: 0;
  overflow: hidden;
  margin-right: 0;
}
</style>
